{{/*

  A simple partial to create a list of contributor names. Looks first for
  .full_name and otherwise combines first and last. Expects two values to be
  passed in:

  range             The range of contributors for the list. For example,
                    .Site.Data.publication.contributor or .Params.contributor

  contributorType   Can be "primary", "secondary", "project-team", or "all"

  listType          Can be "string", "list", "list-plus". "string" creates a
                    list of names with proper "and" or "," connectors. "list"
                    creates and unordered list of names, and "list-plus" adds
                    titles and affiliations when available.

  EXAMPLE PARTIAL USE:
  partial "contributor-list.html" (dict "range" .Params.contributor "contributorType" "primary" "listType" "string")

*/}}

{{- if ne .range nil }}

{{- if or (and (and (and (ne .contributorType "primary") (ne .contributorType "secondary")) (ne .contributorType "project-team")) (ne .contributorType "all")) (and (and (ne .listType "string") (ne .listType "list")) (ne .listType "list-plus")) }}

  <div class="quire-error message is-danger">
    <div class="message-header">
      <strong>PARTIAL ERROR: contributor-list.html</strong>
    </div>
    <div class="message-body">
      <p>The contributorType for this partial must be <code>primary</code>, <code>secondary</code>, <code>project-team</code>, or <code>all</code>. And the listType must be <code>string</code>, <code>list</code>, or <code>list-plus</code>. The values supplied were:</p>
      <pre>"contributorType" "{{ .contributorType }}" "listType" "{{ .listType }}"</pre>
    </div>
  </div>

{{- else }}

  {{- if eq .listType "string" }}

    {{- if eq .contributorType "all" }}

      {{- $len := len .range -}}
      {{- range $index, $element := .range -}}
        {{- if eq $len 1 -}}
          <span class="quire-contributor">{{ template "name" . }}</span>
        {{- else if eq (add $index 1) $len -}}
          <span class="quire-contributor"> and {{ template "name" . }}</span>
        {{- else -}}
          {{- if eq $len 2 -}}
            <span class="quire-contributor">{{ template "name" . }} </span>
          {{- else -}}
            <span class="quire-contributor">{{ template "name" . }}, </span>
          {{- end -}}
        {{- end -}}
      {{- end }}

    {{- else }}

      {{- $len := len (where .range "type" .contributorType) -}}
      {{- range $index, $element := where .range "type" .contributorType -}}
        {{- if eq $len 1 -}}
          <span class="quire-contributor">{{ template "name" . }}</span>
        {{- else if eq (add $index 1) $len -}}
          <span class="quire-contributor"> and {{ template "name" . }}</span>
        {{- else -}}
          {{- if eq $len 2 -}}
            <span class="quire-contributor">{{ template "name" . }} </span>
          {{- else -}}
            <span class="quire-contributor">{{ template "name" . }}, </span>
          {{- end -}}
        {{- end -}}
      {{- end }}

    {{- end }}

  {{- else if eq .listType "list" }}

    {{- if eq .contributorType "all" }}

      <ul>
        {{- range .range -}}
          <li class="quire-contributor">{{ template "name" . }}</li>
        {{- end }}
      </ul>

    {{- else }}

        <ul>
          {{- range where .range "type" .contributorType -}}
            <li class="quire-contributor">{{ template "name" . }}</li>
          {{- end }}
        </ul>

    {{- end }}

  {{- else if eq .listType "list-plus" }}

    {{- if eq .contributorType "all" }}

      <ul>
        {{- range .range -}}
          <li class="quire-contributor">
            {{- template "name" . -}}
            {{- if or .title .affiliation}}, {{ end -}}
            {{- with .title }}<span class="quire-contributor__title">{{ . }}</span>{{ end -}}
            {{- if and .title .affiliation }}, {{ end -}}
            {{- with .affiliation }}<span class="quire-contributor__affiliation">{{ . }}</span>{{ end -}}
          </li>
        {{- end }}
      </ul>

    {{- else }}

      <ul>
        {{- range where .range "type" .contributorType -}}
          <li class="quire-contributor">
            {{- template "name" . -}}
            {{- if or .title .affiliation}}, {{ end -}}
            {{- with .title }}<span class="quire-contributor__title">{{ . }}</span>{{ end -}}
            {{- if and .title .affiliation }}, {{ end -}}
            {{- with .affiliation }}<span class="quire-contributor__affiliation">{{ . }}</span>{{ end -}}
          </li>
        {{- end }}
      </ul>

    {{- end }}

  {{- end }}

{{- end }}

{{- end }}

{{- define "name" -}}
  {{- if .full_name -}}
    {{ .full_name }}
  {{- else -}}
    {{ .first_name }} {{ .last_name }}
  {{- end -}}
{{- end -}}
