{{/*

  This contributor-info partial is used in the q-contirbutors shortcode.
  It cycles through the contributors in the given range and create a
  "contributor" object with an index of all the relevant data for that
  contributor. The index values are assigned as follows:

    0 name (combinded first_name/last_name or full_name)
    1 title
    2 affiliation
    3 bio
    4 url
    5 pic
    6 paper number
    7 paper title
    8 paper subtitle
    9 paper link

  The paper number, title, subtile and link will reference the contributor's
  contribution to the publication, and link to that contribution when you use
  the "all" or "essays" range. (Note however, that if a contributor has
  multiple contributions/papers in a publication, only the last one in the
  range will be referenced.)

  This "contributor" object is then added to a "contributorlist" Scratch map.
  The contributors are added to this larger list either by last_name, or by
  the file_as value. This alphabetizes the list.

*/}}

{{ $errorIncompleteName := dict "shortcode" "q-contributor" "message" "One of the contributors in this range doesn’t have a complete name. All contributors must have either a `full_name` value, or values for both `first_name` and `last_name`." "example" "" }}

{{- if .contributor.full_name }}
  {{ $name := .contributor.full_name }}
  {{- .Page.Scratch.SetInMap "contributor" "0" $name -}}
{{ else if and .contributor.first_name .contributor.last_name }}
  {{ $name := add (add .contributor.first_name " ") .contributor.last_name }}
  {{- .Page.Scratch.SetInMap "contributor" "0" $name -}}
{{ else }}
  {{- partial "error-message.html" $errorIncompleteName -}}
  {{- .Page.Scratch.SetInMap "contributor" "0" "**ERROR: NAME**" -}}
{{ end }}

{{- if .contributor.title -}}
{{- .Page.Scratch.SetInMap "contributor" "1" .contributor.title -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "1" "n/a" -}}
{{- end -}}

{{- if .contributor.affiliation -}}
{{- .Page.Scratch.SetInMap "contributor" "2" .contributor.affiliation -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "2" "n/a" -}}
{{- end -}}

{{- if .contributor.bio -}}
{{- .Page.Scratch.SetInMap "contributor" "3" .contributor.bio -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "3" "n/a" -}}
{{- end -}}

{{- if .contributor.url -}}
{{- .Page.Scratch.SetInMap "contributor" "4" .contributor.url -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "4" "n/a" -}}
{{- end -}}

{{- if .contributor.pic -}}
{{- .Page.Scratch.SetInMap "contributor" "5" .contributor.pic -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "5" "n/a" -}}
{{- end -}}

{{- if .pageNumber -}}
{{- .Page.Scratch.SetInMap "contributor" "6" .pageNumber -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "6" "n/a" -}}
{{- end -}}

{{- if .pageTitle -}}
{{- .Page.Scratch.SetInMap "contributor" "7" .pageTitle -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "7" "n/a" -}}
{{- end -}}

{{- if .pageSubtitle -}}
{{- .Page.Scratch.SetInMap "contributor" "8" .pageSubtitle -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "8" "n/a" -}}
{{- end -}}

{{- if .pageLink -}}
{{- .Page.Scratch.SetInMap "contributor" "9" .pageLink -}}
{{- else -}}
{{- .Page.Scratch.SetInMap "contributor" "9" "n/a" -}}
{{- end -}}

{{- $contributor := (.Page.Scratch.GetSortedMapValues "contributor") -}}

{{- if .contributor.file_as -}}
  {{- $name := lower (replace (replace .contributor.file_as " " "") "," "") -}}
  {{- .Page.Scratch.SetInMap "contributorlist" $name $contributor -}}
{{- else if and .contributor.last_name .contributor.first_name -}}
  {{- $name := lower (replace (add .contributor.last_name .contributor.first_name) " " "") -}}
  {{- .Page.Scratch.SetInMap "contributorlist" $name $contributor -}}
{{ else }}
  {{- $name := lower (replace .contributor.full_name " " "") -}}
  {{- .Page.Scratch.SetInMap "contributorlist" $name $contributor -}}
{{- end -}}