{{/*
  This partial creates custom error messages for shortcode users. To use, pass
  in the name of the shortcode, a message, and an example. See `q-cite` for
  a sample implementation.
*/}}

{{ $shortcode := .shortcode }}
{{ $message := .message | markdownify }}
{{ $example := safeHTML .example }}

<div class="quire-error message is-danger">
  <div class="message-header">
    <strong>SHORTCODE ERROR: {{ with $shortcode }}{{ . }}{{ end }}</strong>
  </div>
  <div class="message-body">
    {{ with $message }}<p>{{ . }}</p>{{ end }}
    {{ with $example }}<pre>{{ . }}</pre>{{ end }}
  </div>
</div>