{{/*
  Footer on the cover
*/}}


{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}
{{- $imgDir := $.Scratch.Get "imageDir" -}}

<div class="columns remove-from-epub">
  <div class="column is-two-thirds">
    {{ partial "copyright.html" . }}

    {{ if isset .Site.Data.publication "resource_link" -}}
    {{ $footerLinks := where .Site.Data.publication.resource_link "type" "footer-link" }}
    {{ if gt (len $footerLinks) 0 -}}
      {{- partial "link-list.html" $footerLinks -}}
    {{- end -}}
    {{- end -}}
  </div>
  <div class="column">
    {{ if .Site.Data.publication.publisher }}
    {{ range .Site.Data.publication.publisher }}
      <div class="quire-publisher">
      {{ if .logo }}{{ with .url }}<a href="{{ . }}" target="_blank">{{ end }}<img src="{{ $imgDir | absURL }}/{{ .logo }}" alt="" />{{ with .url }}</a>{{ end }}
      {{ with .name }}<p>{{ . }}</p>{{ end }}
      {{ with .location }}<p>{{ . }}</p>{{ end }}
      {{ end }}
      </div>
    {{ end }}
    {{ end }}
  </div>
</div>