  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    {{ if eq .Type "essay" -}}
    "@type": "Article",
    "headline": "{{ partial "page-title.html" . }}",
    "url": "{{ .Permalink }}",
    {{ if .Page.Params.cover -}}
    "image": "{{ .Site.BaseURL }}{{ .Site.Params.imageDir }}{{ .Site.Params.figureSubDir }}{{ .Page.Params.cover }}",
    {{ end -}}
    {{ with .Page.Params.contributor -}}
    "author": [
      {{ $len := len . -}}
      {{ range $index, $element := . -}}
      {{ if .id -}}
      {{ range where $.Site.Data.publication.contributor "id" .id -}}
      {
        "type": "Person",
        "name": "{{ if .full_name }}{{ .full_name }}{{ else }}{{ .first_name }} {{ .last_name }}{{ end }}"
      }{{ if ne $index (sub $len 1) }},{{ else }}{{ end }}
      {{ end -}}
      {{ else -}}
      {
        "type": "Person",
        "name": "{{ if .full_name }}{{ .full_name }}{{ else }}{{ .first_name }} {{ .last_name }}{{ end }}"
      }{{ if ne $index (sub $len 1) }},{{ else }}{{ end }}
      {{ end -}}
      {{ end -}}
    ],
    {{ end -}}
    "description": "{{ replaceRE "\n" " " .Page.Params.abstract }}",
    "isPartOf": {
    {{ end -}}
    {{ if eq .Site.Data.publication.pub_type "book" -}}
    "type": "Book",
    "name": "{{ partial "site-title.html" . }}",
    "isbn": "{{ replace .Site.Data.publication.identifier.isbn "-" "" }}",
    {{ else if eq .Site.Data.publication.pub_type "journal-periodical" -}}
    "type": "PublicationIssue",
    "name": "{{ partial "site-title.html" . }}",
    "issueNumber": "{{ .Site.Data.publication.series_issue_number }}",
    "isPartOf": {
        "type": "Periodical",
        "name": "{{ .Site.Data.publication.title }}",
        "issn": "{{ .Site.Data.publication.identifier.issn }}"
      },
    {{ else -}}
    "type": "WebSite",
    "name": "{{ partial "site-title.html" . }}",
    {{ end -}}
    "url": "{{ .Site.BaseURL }}",
    {{ with .Site.Data.publication.subject -}}
    {{ $gettyVocab := len (where . "type" "getty" ) -}}
    {{- if gt $gettyVocab  0 -}}
    "about": [
      {{ $len := len (where . "type" "getty" ) -}}
      {{ range $index, $element := where . "type" "getty" -}}
      {
        "type": "{{ if in .identifier "/ulan/" }}Person{{ else if in .identifier "/tgn/" }}Place{{ else }}Thing{{ end }}",
        "name": "{{ .name }}",
        "identifier": "{{ .identifier }}"
      }{{ if ne $index (sub $len 1) }},{{ else }}{{ end }}
      {{ end -}}
    ],
    {{ end -}}
    {{ end -}}
    {{ with .Site.Data.publication.contributor -}}
    {{- $contributor := len (where . "type" "primary") -}}
    {{- if gt $contributor  0 -}}
    "author": [
      {{ $len := len (where . "type" "primary") -}}
      {{ range $index, $element := where . "type" "primary" -}}
      {
        "type": "Person",
        "name": "{{ if .full_name }}{{ .full_name }}{{ else }}{{ .first_name }} {{ .last_name }}{{ end }}",
        "jobTitle": "{{ .title }}",
        "affiliation": "{{ .affiliation }}",
        "identifier": "{{ .url }}"
      }{{ if ne $index (sub $len 1) }},{{ else }}{{ end }}
      {{ end -}}
    ],
    {{ end -}}
    {{ end -}}
    "datePublished": "{{ .Site.Data.publication.pub_date }}",
    {{ with .Site.Data.publication.revision_history -}}
    {{ $len := len . -}}
    {{ range $index, $element := . -}}
    {{ if and (gt $index 0) (eq $index (sub $len 1)) -}}
    "dateModified": "{{ .date }}",
    {{ else -}}
    {{ end -}}
    {{ end -}}
    {{ end -}}
    "keywords": "{{ with .Site.Data.publication.subject }}{{ range $index, $element := where . "type" "keyword" }}{{ $len := len . -}}{{ .name }}{{ if ne $index (sub $len 1) }}, {{ else }}{{ end }}{{ end }}{{ end }}",
    "license": "{{ .Site.Data.publication.license.url }}",
    {{ with .Site.Data.publication.publisher -}}
    "publisher": [
      {{ $len := len . -}}
      {{ range $index, $element := . -}}
      {
        "type": "Organization",
        "name": "{{ .name }}",
        "location": { "type": "PostalAddress", "addressLocality": "{{ .location }}" },
        "identifier": "{{ .url }}"
      }{{ if ne $index (sub $len 1) }},{{ else }}{{ end }}
      {{ end -}}
    ],
    {{ end -}}
    {{ with .Site.Data.publication.promo_image -}}
    "image": "{{ $.Site.BaseURL }}{{ $.Site.Params.imageDir }}{{ . }}",
    {{ end -}}
    "description": "{{ replaceRE "\n" " " .Site.Data.publication.description.full }}"
    {{ if eq .Type "essay" -}}
    }
    {{ end -}}
  }
  </script>
