{{- if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}

{{- if .Params.image -}}
{{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") .Params.image -}}
  <section class="quire-page__header hero {{ if in .Params.class "splash" }} quire-page__header--full-height{{ end }}" style="background-image: url('{{ $imgPath | absURL }}');">
{{- else -}}
  <section class="quire-page__header hero {{ if in .Params.class "splash" }} quire-page__header--full-height{{ end }}">
{{- end -}}
  <div class="hero-body">

      {{/* Page Title */}}
      <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
        {{ with .Params.number }}<span>{{ . }}.</span>{{ end }}
        {{ .Title | markdownify }}
        {{ with .Params.subtitle }}
        <span class="quire-page__header__subtitle">{{ . | markdownify }}</span>
        {{ end }}
      </h1>

      {{/* Contributors, if any */}}
      {{ with .Params.contributor }}
      <div class="quire-page__header__contributor">
        {{ partial "contributor-list.html" (dict "range" . "contributorType" "all" "listType" "list-plus" "Site" $.Site) }}
      </div>
      {{ end }}

      {{ if in .Params.class "splash" }}
      {{ if or (or (eq .Type "contents") (eq .Type "info")) .Content }}
      <div class="quire-page__header__splash-page-arrow is-screen-only remove-from-epub">
        <svg transform="rotate(90)">
          <switch>
            <use xlink:href="#right-arrow-icon"></use>
            <foreignObject width="18" height="32">
                {{- $imgDir := $.Scratch.Get "imageDir" -}}
                <img src="{{ $imgDir | absURL }}/icons/right-arrow.png" alt="" />
            </foreignObject>
          </switch>
        </svg>
      </div>
      {{ end }}
      {{ end }}

  </div>
</section>
