/* adds beta banner */

.quire-banner {
  background-color: #3273dc;
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bold;
  position: fixed;
  top: -75px;
  right: -75px;
  width: 150px;
  height: 150px;
  z-index: 4000;
  transform: rotate(45deg);
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: .5rem;
}

.quire-navbar-controls__right,
.quire-search__close-button {
  margin-right: 100px;
  z-index: 5000;
}

/* changes layout for fixed sidebar menu */

.quire-navbar {
  position: fixed;
  z-index: 2000;
}

.quire-navbar-controls {
  justify-content: flex-end;
}

.quire-navbar-controls__center {
  flex: 0 1 3rem;
}

.quire-navbar-controls__left,
.quire-navbar-page-controls__item.quire-home-page,
.quire-navbar-page-controls__item.quire-section-page,
.quire-navbar-page-controls__item.quire-current-page {
  display: none;
}

.quire-search {
  z-index: 3000;
}

.quire-search.is-active {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  top: 0;
  left: 0;
}

.quire-search__inner,
.quire__secondary,
.quire__primary {
  margin-top: 3rem;
}

.quire:not(.no-js) .quire__secondary {
  overflow-y: inherit;
  position: inherit;
  float: left;
}

.quire__primary {
  padding: 0 2rem;
}

.quire-page__header .container {
  padding-top: 9rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: inherit;
  }
}

@media screen and (max-width: 820px) {
  .quire-navbar-controls__left {
    display: block;
    margin-right: auto;
  }
  .quire:not(.no-js) .quire__secondary {
    overflow-y: scroll;
    position: fixed;
    float: inherit;
    margin-top: 3rem;
  }
  .quire:not(.no-js) .quire__secondary[aria-expanded=true] {
    width: 100%;
  }
}

/* adjusts style and visibility of menu items */

.quire-menu__header {
  border-bottom-width: 0px;
}

.quire-menu__header__title {
  color: #3273dc;
}

.quire-menu__header__subtitle,
.quire-menu__header__contributors {
  display: none;
}

/* adjusts cover style */

#cover .quire__primary {
  padding-right: 0;
}

.quire-cover__hero .title {
  margin-top: 1.5rem;
}

.quire-cover__hero-body.hero-body {
  max-width: 100%;
}

/* add styles for page-level navigation list */

.quire-page__page-navigation ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  font-family: "Lato", Helvetica, sans-serif;
  border-left: 4px solid #3273dc;
}

@media only screen and (min-width: 1000px) {

  /* add graphic lines connecting menu item and page navigation */

  .quire-page__page-navigation::before {
    content: "";
    position: absolute;
    width: calc((100vw - 936px - 4rem) / 2);
    height: 800px;
    left: calc(((100vw - 936px - 4rem) / 2) * -1);
    background-color: white;
    top: calc(50% + 770px * -1);
    z-index: 1200;
  }

  .quire-page__page-navigation ul::before {
    content: "";
    position: absolute;
    width: calc((100vw - 936px - 4rem) / 2);
    height: 30px;
    left: calc(((100vw - 936px - 4rem) / 2) * -1);
    background-color: white;
    top: 50%;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-top-left-radius: 30px;
    z-index: 1201;
  }

  .page-item.this-page.with-page-nav::after {
    content: "";
    position: absolute;
    width: calc(30px + 2rem + 1px);
    height: 800px;
    left: 270px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    margin-top: calc(-800px - 1rem);
    border-bottom-right-radius: 30px;
  }

  /* turns lines downward for top list items */

  #tutorial .quire-page__page-navigation ul::before,
  #guide-install-uninstall .quire-page__page-navigation ul::before,
  #guide-getting-started .quire-page__page-navigation ul::before,
  #guide-fundamentals .quire-page__page-navigation ul::before,
  #guide-metadata-configuration .quire-page__page-navigation ul::before,
  #guide-pages .quire-page__page-navigation ul::before {
    top: calc(50% - 30px);
    border-top: 0px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 30px;
    width: calc(((100vw - 936px - 4rem) / 2) + 1px);
    left: calc((((100vw - 936px - 4rem) / 2) + 1px) * -1);
  }

  #tutorial .quire-page__page-navigation::before,
  #guide-install-uninstall .quire-page__page-navigation::before,
  #guide-getting-started .quire-page__page-navigation::before,
  #guide-fundamentals .quire-page__page-navigation::before,
  #guide-metadata-configuration .quire-page__page-navigation::before,
  #guide-pages .quire-page__page-navigation::before {
    height: 800px;
    top: calc(50% - 30px);
    border-bottom-right-radius: 0px;
    width: calc(((100vw - 936px - 4rem) / 2) + 1px);
    left: calc((((100vw - 936px - 4rem) / 2) + 1px) * -1);
  }

  #tutorial .page-item.this-page.with-page-nav::after,
  #guide-install-uninstall .page-item.this-page.with-page-nav::after,
  #guide-getting-started .page-item.this-page.with-page-nav::after,
  #guide-fundamentals .page-item.this-page.with-page-nav::after,
  #guide-metadata-configuration .page-item.this-page.with-page-nav::after,
  #guide-pages .page-item.this-page.with-page-nav::after {
    margin-top: -1rem;
    border-bottom-width: 0;
    border-top: 1px solid #dbdbdb;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    width: calc(30px + 2rem);
  }

  /* reduces border radius of line for page that's almost even */

  #guide-pages .quire-page__page-navigation ul::before {
    top: calc(50% - 10px);
    border-bottom-left-radius: 10px;
    height: 10px;
  }

  #guide-pages .quire-page__page-navigation::before {
    top: calc(50% - 10px);
  }

  #guide-pages .page-item.this-page.with-page-nav::after {
    border-top-right-radius: 10px;
  }

}

.quire-page__page-navigation ul li a {
  padding: .5rem 1.5rem;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.quire-page__page-navigation ul li:hover {
  background-color: whitesmoke;
}

.quire-page__page-navigation ul li:hover a {
  color: #3273dc;
}

.quire__secondary .this-page {
  font-weight: bold;
  border-left: 4px solid #3273dc;
}

.quire__secondary .this-page ul {
  font-weight: normal;
  border-left-width: 0;
}

.quire-menu__list li ul {
  border-left: inherit;
}

.quire-menu__list li ul li {
  border-left: 1px solid #dbdbdb;
}

.quire-menu__list li ul li a {
  padding-left: 1rem;
}

/* makes text selectable */

.container {
  user-select: text;
}

/* increases heading line height */

.content h2 {
  line-height: 1.35;
}

/*Creates a box for notes and changes fonts color*/

.box {
  background-color: #a9b4c8;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(54, 54, 54, 0.1), 0 0 0;
  color: #ffffff;
  display: block;
  padding: 1.25rem;
}

.content .box h4,
.content .box h5,
.content .box h6 {
  color: #fff;
}

.box ul {
  margin-top: 0;
}

.box ul li {
  margin-bottom: .75rem;
}

.box.warning ul,
.box.tip ul {
  list-style-type: none;
}

.box.warning ul li,
.box.tip ul li {
  padding-left: 2rem;
}

.box.warning ul li:first-of-type::before,
.box.tip ul li:first-of-type::before {
  color: #fff700;
  position: absolute;
  margin-top: -1.25rem;
}

.box.warning ul li:first-of-type::before {
  font-size: 4rem;
  margin-left: -4.75rem;
  content: "⚠";
}

.box.tip ul li:first-of-type::before {
  font-size: 3.5rem;
  margin-left: -4.25rem;
  content: "★";
  /* content: "☞";
  content: "✓";
  content: "✎"; */
}

.box strong {
  color: #fff;
}

.box code,
.box pre {
  color: #fff;
  background-color: #b8c1d1;
}

.quire-page__content .content .box a:not([rel=footnote]):not(.footnote-return) {
  color: #fff;
  border-bottom-color: #fff;
}

.quire-page__content .content .box a:hover {
  background-color: #b8c1d1;
}

.quire-page__content .content .box .quire-definition a:not([rel=footnote]):not(.footnote-return) {
  color: #3273dc;
  border-bottom-color: #3273dc;
}

.quire-page__content .content .box .quire-definition a:hover {
  background-color: whitesmoke;
}

/*changes syntax font color*/

code {
  color: #363636;
  background-color: whitesmoke;
  border-radius: 4px;
}

a code {
  background-color: transparent;
  color: #3273dc;
  padding-left: 0;
  padding-right: 0;
}

.title a code {
  color: #363636;
}

h2 code {
  font-weight: bold;
  background-color: transparent;
  padding: 0;
  font-size: 1em;
  color: #363636;
}

.highlight {
  border-radius: 4px;
}

/* overrides default list spacing */

.content li + li {
  margin-top: 1em;
}

li .highlight:last-child {
  margin-bottom: 1em;
}

/*changes indentation in shortcodes page*/

#api-docs-shortcodes .quire-page__content .content p + p {
    text-indent: 0em; }

#api-docs-yaml .quire-page__content .content p + p {
    text-indent: 0em; }

/*adds style for glossary terms*/

.quire-definition {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

.quire-definition__content {
  visibility: hidden;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f6f9fd;
  color: #3273dc;
  border-radius: 6px;
  border: 1px solid #3273dc;
  padding: 1rem;
  position: absolute;
  width: 400px;
  z-index: 1500;
  bottom: 100%;
  left: 50%;
  margin-left: -200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.quire-definition__content code {
  color: #3273dc;
}

.quire-definition:hover .quire-definition__content {
  visibility: visible;
}

.quire-definition__term {
  font-weight: bold;
  cursor: pointer;
  color: #3273dc;
}

/* change figure caption font */

.content figure .quire-figure__caption {
  font-family: Lato, Helvetica, sans-serif;
}

/* style tables */

table {
  font-size: .8em;
  max-width: 100%;
}

/* made code bold when in headings */

strong code {
  font-weight: bold;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
