/* Colors */
:root {
  --accent-color: #1a47b8; /* Getty Blue */
  --accent-color-dark: #10378c;

  --background-color: #cff0f7;
  --background-color-dark: #a3e2f0;

  --cover-accent-color: #1a47b8;
  --cover-accent-color-dark: #10378c;

  --warning-color: #dab836;
}



/* COVER
============================================================================= */
/* Style special header-quote in Markdown as cover header */
#cover .quire-page__header {
  display: none;
}
#cover .quire-page__content .header-quote h1 {
  font-size: 4rem;
  font-family: Times, serif;
}
#cover .quire-page__content .header-quote h1 .sub-head {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.75rem;
  display: block;
  line-height: 1.5;
  letter-spacing: -0.035em;
  margin-top: 1rem;
}
/* Make general adjustments */
#cover .quire-page__content {
  text-align: center;
}
#cover .quire-page__content *::first-letter {
  all: unset;
}
#cover .quire-page__content h2 {
  margin-top: 8rem;
  font-size: 2rem;
}
#cover .quire-page__content ul,
#cover .quire-page__content ul li {
  margin-left: 0;
}
#cover .quire-page__content ul li::before {
  content: "";
}
/* Size and position the cover logo */
#cover .quire-page__content .logo {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
/* A span class to have colored checkmarks */
#cover .quire-page__content .checkmark {
  font-size: 1.5em;
  color: var(--accent-color);
}
/* Hide the default footer navigation buttons */
#cover .quire-nav-button {
  display: none;
}
/* Button-like links used for calls to action
   div class="" */
.quire-page__content .container .content .action-button {
  text-align: center;
  margin: 2rem auto;
}
.quire-page__content .container .content .action-button a {
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: white;
  padding: .75rem 1.5rem;
  display: inline-block;
}
.quire-page__content .container .content .action-button a:hover {
  color: white !important;
  background-color: var(--accent-color-dark);
}
.quire-page__content .container .content .action-button.coming-soon p {
  border-radius: 4px;
  font-size: 1rem;
  background-color: #eee;
  color: #888;
  padding: .75rem 1.5rem;
  width: max-content;
  font-style: italic;
}
/* A two-column list, with <strong> initial word large and accent-colored
   div class="feature-list" */
.quire-page__content .container .content .feature-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-left: 0;
  font-size: .875rem;
  text-align: left;
}
.quire-page__content .container .content .feature-list ul li {
  margin-left: 0;
}
.quire-page__content .container .content .feature-list ul li::before {
  content: "";
}
.quire-page__content .container .content .feature-list ul li strong {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--cover-accent-color);
}
/* Single-color card-like links
   div class="feature-cards" */
.quire-page__content .container .content .feature-cards ul {
  display: flex;
  width: 100%;
  margin-left: 0;
}
.quire-page__content .container .content .feature-cards.small-card ul {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.quire-page__content .container .content .feature-cards.xsmall-card ul {
  width: 40%;
  margin-left: 0;
}
.quire-page__content .container .content .feature-cards ul li {
  flex: 1 1 0;
}
.quire-page__content .container .content .feature-cards ul li a {
  margin: .5rem;
  color: var(--accent-color);
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -.5px;
  border-bottom-width: 0px !important;
}
.quire-page__content .container .content .feature-cards ul li a  img {
  margin-top: 1rem;
}
.quire-page__content .container .content .feature-cards ul li a:hover {
  color: white !important;
  background-color: var(--cover-accent-color-dark);
}
.quire-page__content .container .content .feature-cards ul li::before {
  content: "";
}
.quire-page__content .container .content .feature-cards ul li p {
  font-weight: bold;
  text-align: center;
}
/* A simple white box around the content, like other pages of the site
   div class="block" */
.quire-page__content .container .content .block {
  border-radius: 4px;
  background-color: white;
  padding: 1.5rem;
  margin: 8rem -1.5rem 1.5rem;
  width: calc(100% + 3rem);
}
#cover .quire-page__content .container .content .block h2 {
  margin-top: 0;
}

/* Cover footer styling */
#cover .cover-footer {
  margin-top: 6rem;
}
#cover .quire #main {
  background-image: url('../img/illustrations/footer-graphic.png');
  background-position-x: center;
  background-position-y: bottom -3rem;
  background-size: 105%;
  background-repeat: no-repeat;
}
#cover .quire-splash .quire-page__content .container .content {
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  #cover .quire-page__content .header-quote h1 {
    font-size: 3rem;
  }
  #cover .quire-page__content .container .content .feature-cards ul {
    flex-direction: column;
  }
  #cover .quire-page__content .container .content .feature-cards ul li:first-of-type {
    margin-bottom: 0;
  }
  #cover .quire-page__content .container .content .feature-cards ul li img {
    max-width: 70%;
  }
  #cover .quire-page__content .container .content .feature-cards ul li a {
    padding: 1rem;
  }
}

/* TIP/ALERT BOXES
============================================================================= */
/* Implement with shortcode q-class "box warning" or q-class "box tip" */
.box {
  box-shadow: none;
  font-weight: bold;
  border-radius: 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 2rem 0;
}
.box.warning > ul > li:first-of-type::before,
.box.tip > ul > li:first-of-type::before {
  color: var(--warning-color);
  position: absolute;
  margin-top: -1.25rem;
}
.box.warning > ul > li:first-of-type::before {
  font-size: 4rem;
  margin-left: -4.75rem;
  content: "⚠";
}
.box.tip ul li:first-of-type::before {
  font-size: 3.5rem;
  margin-left: -4.25rem;
  content: "★";
}
@media print {
  .box.warning > ul > li:first-of-type::before {
    margin-left: -2.75rem;
    content: "!";
  }
  .box.tip ul li:first-of-type::before {
    margin-left: -3.25rem;
  }
  pre, code {
    white-space: pre-wrap;
  }
}

/* FIXED MENU
============================================================================= */
/* Fix the navbar and content area */
.quire:not(.no-js).menu-view--fixed .quire-navbar {
  position: fixed;
}
.quire:not(.no-js).menu-view--fixed #main {
  margin-top: 3rem;
  min-height: calc(100vh - 3rem);
}
/* When window is at least 900px, show menu as fixed and hide toggle button */
@media screen and (min-width: 900px) {
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed {
    background-color: var(--background-color);
    overflow: auto;
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__secondary * {
    background-color: inherit;
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__secondary {
    top: calc(3rem + 2px);
    overflow-y: scroll;
    float: right;
    transform: none;
    width: 330px;
    padding: 3rem 1rem 3rem 1.5rem;
    background-color: inherit;
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__secondary #site-menu__inner {
    display: block;
    margin-bottom: 12rem;
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__primary {
    width: calc(100% - 330px);
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__primary .container {
    width: calc(100vw - 330px - 3rem);
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__primary .quire-navbar {
    width: 100vw
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed .quire__primary .quire-navbar #quire-controls-menu-button {
    display: none;
  }
  /* Adjust for when menuSide is set to "left" (default is "right") */
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed.menu-side--left .quire__secondary {
    float: left;
    padding-right: 0;
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed.menu-side--left .quire__primary .quire-navbar {
    margin-left: -330px;
  }
  body:not(.quire-page-type--splash) .quire:not(.no-js).menu-view--fixed.menu-side--left .quire__secondary {
    float: left;
    padding-right: 0;
  }
}
/* Make some fixes to the way the content area appears
on the page and adjusts to different window widths */
@media screen and (max-width: 500px),
       screen and (max-width: calc(720px + 2rem)) {
  .quire-page__content .container {
    width: auto;
    margin: 0 1rem;
  }
  .quire-page__content .container .content {
    margin-top: 1rem;
  }
}
@media screen and (max-width: calc(1050px + 3rem)) and (min-width: 900px) {
  body:not(.cover).quire-page__content .container {
    width: auto;
    margin: 0 1.5rem;
  }
}

/* Sytle buttons for collapsed nav sections, created with Javascript function */
.list-header button {
  all: inherit;
  padding: 0;
  cursor: pointer;
}

/* Style heading links in side menu */
.quire-menu .menu-list li ul {
  margin: 0 .75em;
}
.quire-menu .page-item .quire__heading-links {
  display: none;
}
.quire-menu .page-item.active .quire__heading-links {
  display: block;
  margin: .25rem 1.5rem;
}
.quire-menu .page-item.active .quire__heading-links .main-heading a {
  color: var(--accent-color) !important;
}
.quire-menu .page-item.active > a,
.quire-menu .section-item.active > a,
.quire-menu .section-item > a {
  font-weight: 700;
}
/* Even out row and column spacing in grid */
.quire-contents-list.grid ul li a {
  padding: 0;
}
.quire-contents-list.grid ul li .card {
  margin: .625rem;
}


/* Make main section headings stand out visually */
.quire-menu .section-item > .list-header,
.quire-menu__list > ul > .page-item {
  font-weight: bold;
}

/* Stle optional tagline in navbar */
.navbar-type--tagline {
  text-align: center;
  font-style: italic;
}

.quire-menu__footer .menu-list {
  display: block;
  height: 100px;
}
.quire-menu__footer .menu-list li {
  float: left;
  margin-left: -.5em;
  margin-right: .5em;
  margin-bottom: -.5em;
}
.quire-menu__footer {
  margin-top: 3rem;
}
.quire-menu__footer p {
  margin-bottom: 1em;
}
.quire-menu__footer .quire-copyright {
  padding: 0;
}

/* PAGE HEADER
============================================================================= */
/* A couple fixes for moving page-header inside content area
when menuType is "fixed" */
.quire-page__header {
  background-color: inherit;
}
.content .quire-page__header h1 {
  font-size: 2.5rem;
}

/* NAVBAR
============================================================================= */
/* Let there be more room for left and right areas */
.quire-navbar-controls__left,
.quire-navbar-controls__right {
  flex: auto;
}
/* With search moved to right side, move search close button there too */
.quire-search__close-button {
  left: auto;
  right: 0;
}
/* style the site logo added in on the right side of the nav */
a.quire-navbar-controls__site-logo,
a.quire-navbar-controls__site-logo:hover {
  background-color: transparent;
}
a.quire-navbar-controls__site-logo img {
  max-height: 1rem;
}
.quire-navbar-controls__left {
  padding-left: 1rem;
  padding-top: .2rem;
}
/* Don't display center text navigation items unless there's room */
.quire-navbar-controls__center {
  display: none;
}
@media screen and (min-width: 900px) {
  .quire-navbar-controls__center {
    display: block;
  }
  /* Style items when navType is "main-pages",
  which is generated from contents-list/html partial */
  .quire-navbar-controls__center.navbar-type--main-pages ul {
    display: flex;
    justify-content: center;
  }
  .quire-navbar-controls__center.navbar-type--main-pages ul li a,
  .quire-navbar-controls__center.navbar-type--main-pages ul li .list-header {
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: .8125rem;
    font-weight: bold;
    cursor: pointer;
  }
  /* Styles for full navigation menu type with dropdown */
  .quire-navbar-controls__center.navbar-type--main-pages ul li ul {
    max-height: 16.75rem;
    overflow-y: scroll;
  }
  .quire-navbar-controls__center.navbar-type--main-pages ul li ul a,
  .quire-navbar-controls__center.navbar-type--main-pages ul li ul .list-header {
    background-color: var(--background-color-dark);
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
  }
  .quire-navbar-controls__center.navbar-type--main-pages ul li.active a,
  .quire-navbar-controls__center.navbar-type--main-pages ul li.active-section a
  .quire-navbar-controls__center.navbar-type--main-pages ul li.active .list-header,
  .quire-navbar-controls__center.navbar-type--main-pages ul li.active-section .list-header {
    color: var(--accent-color) !important;
  }
  .quire-navbar-controls__center.navbar-type--main-pages ul li .list-header:hover,
  .quire-navbar-controls__center.navbar-type--main-pages ul li a:hover,
  .quire-navbar-controls__center.navbar-type--main-pages ul li.active a:hover,
  .quire-navbar-controls__center.navbar-type--main-pages ul li.active-section a:hover {
    background-color: var(--accent-color);
    color:white !important;
  }
  .quire-navbar-controls__center.navbar-type--main-pages .list-header + div + ul {
    display: none;
  }
  .quire-navbar-controls__center.navbar-type--main-pages ul li:hover ul {
    display: block;
    position: absolute;
  }
  /* Style type list in dropdown */
  .quire-navbar-controls__center.navbar-type--main-pages ul li:hover .list-screen {
    position: absolute;
    left: 0;
    width: 100vw;
    background-color: var(--background-color-dark);
    height: 16.75rem;
  }
  /* Don't show heading links from individual pages */
  .quire-navbar-controls__center.navbar-type--main-pages ul li ul.quire__heading-links,
  .quire-navbar-controls__center.navbar-type--main-pages ul li:hover ul.quire__heading-links {
    display: none;
  }
}
/* Hide progress bar, doesn’t make sense with main-pages nav */
.quire-progress-bar div {
  display: none;
}

/* OFF SITE INDICATORS FOR MENU AND NAVIGATION
============================================================================= */
.section-item a[target=_blank]::after,
.page-item a[target=_blank]::after {
  content: url('../img/icons/right-up-arrow.svg');
  display: inline-flex;
  width: 1em;
  margin-left: .25em;
}
/* Make these links the accent color */
.quire-navbar a[target=_blank],
.quire-menu__list > ul > .page-item a[target=_blank] {
  color: var(--accent-color) !important;
}
/* Use the white arrow file on hover */
.quire-navbar-controls__center .section-item a[target=_blank]:hover::after,
.quire-navbar-controls__center .page-item a[target=_blank]:hover::after {
  content: url('../img/icons/right-up-arrow--white.svg');
}

/* GLOSSARY
============================================================================= */
.content ul.quire-glossary__key {
  margin-left: 0;
  text-align: center;
  display: table;
  margin-bottom: 2rem;
}
.quire-page__content .container .content ul.quire-glossary__key li::before {
  content: "";
}
.quire-page__content .container .content ul.quire-glossary__key li {
  margin: .5rem .75rem;
  display: inline-block;
}
.quire-page__content .content dl.quire-glossary {
  margin: 2rem 0;
}
.quire-page__content .content dl.quire-glossary dt {
  display: inline;
  margin-right: .3rem
}
.quire-page__content .content dl.quire-glossary dd {
  display: inline;
}
.quire-page__content .content dl.quire-glossary dd::after {
  content: " ";
  display: block;
  margin-bottom: 1rem;
}

/* COMMUNITY SHOWCASE
============================================================================= */
.quire-page__content .container .content ul.showcase {
  margin-left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  margin: 2rem 0;
}
@media screen and (max-width: 500px) {
  .quire-page__content .container .content ul.showcase {
    grid-template-columns: 1fr;
  }
}
.quire-page__content .container .content ul li.showcase-project::before {
  content: "";
  margin-left: 0;
}
.quire-page__content .container .content ul li.showcase-project {
  margin-left: 0;
  margin-top: 2rem;
}
.quire-page__content .container .content ul li.showcase-project p {
  margin-bottom: 0;
}
.quire-page__content .container .content ul li.showcase-project .publisher {
  font-weight: bold;
}
.quire-page__content .container .content ul li.showcase-project .quire-citation,
.quire-page__content .container .content ul li.showcase-project a.view-link {
  /* float: right; */
  margin-right: 1rem;
}
.quire-page__content .container .content ul li.showcase-project a.view-link {
  padding: 6px 0;
}
.quire-page__content .container .content ul li.showcase-project .quire-citation__button,
.quire-page__content .container .content ul li.showcase-project a.view-link {
  color: var(--accent-color);
  border-bottom-width: 0;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .5px;
}
.quire-page__content .container .content ul li.showcase-project a.view-link:hover {
  border-bottom-width: 0 !important;
}
.quire-page__content .container .content ul li.showcase-project .quire-citation__button svg,
.quire-page__content .container .content ul li.showcase-project a.view-link svg {
  fill: var(--accent-color);
  vertical-align: text-top;
  pointer-events: none;
}
.quire-page__content .container .content ul li.showcase-project figure {
  margin: 0;
}
.quire-page__content .container .content ul li.showcase-project figure a {
  border-bottom-width: 0;
}
.quire-page__content .container .content ul li.showcase-project figure a:hover img {
  transition: box-shadow 0.35s;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

/* FULL-WIDTH-SLIDER - COVER - COMMUNITY SHOWCASE & FEATURES
============================================================================= */
.quire-page__content .container .content ul.showcase.full-width-slider,
.quire-figure--group.full-width-slider .quire-figure--group__row {
  width: 100vw;
  margin-left: -2.25rem !important;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0 1.5rem;
}
.quire-figure--group.full-width-slider {
  border-width: 0;
}
@media screen and (min-width: 501px) {
  .quire-page__content .container .content ul.showcase.full-width-slider,
  .quire-figure--group.full-width-slider .quire-figure--group__row {
    margin-left: -3.5rem !important;
  }
}
@media screen and (min-width: 750px) {
  .quire-page__content .container .content ul.showcase.full-width-slider,
  .quire-figure--group.full-width-slider .quire-figure--group__row {
    margin-left: calc((100vw - 720px + 5rem) / 2 * -1) !important;
  }
}
.quire-page__content .container .content ul.showcase.full-width-slider.slider-sm li.showcase-project figure,
.quire-figure--group.full-width-slider.slider-sm .quire-figure--group__item {
  min-width: 360px;
}
.quire-page__content .container .content ul.showcase.full-width-slider.slider-md li.showcase-project figure,
.quire-figure--group.full-width-slider.slider-md .quire-figure--group__item {
  min-width: 500px;
}
.quire-page__content .container .content ul.showcase.full-width-slider.slider-lg li.showcase-project figure,
.quire-figure--group.full-width-slider.slider-lg .quire-figure--group__item {
  min-width: 600px;
}
@media screen and (max-width: 500px) {
  .quire-page__content .container .content ul.showcase.full-width-slider.slider-sm li.showcase-project figure,
  .quire-figure--group.full-width-slider.slider-sm .quire-figure--group__item {
    min-width: 240px;
  }
  .quire-page__content .container .content ul.showcase.full-width-slider.slider-md li.showcase-project figure,
  .quire-figure--group.full-width-slider.slider-md .quire-figure--group__item {
    min-width: 380px;
  }
  .quire-page__content .container .content ul.showcase.full-width-slider.slider-lg li.showcase-project figure,
  .quire-figure--group.full-width-slider.slider-lg .quire-figure--group__item {
    min-width: 480px;
  }
}

/* Adjustments for the features image grid version */
#cover .quire-figure--group.full-width-slider .quire-figure--group__row {
  padding-left: .5rem;
}
#cover .quire-figure--group.full-width-slider .quire-figure__caption {
  font-size: 1rem;
  margin-bottom: 1rem;
}
#cover .quire-figure--group.full-width-slider .quire-figure__modal {
  display: none;
}

/* Adjustments for the community showcase*/
#cover .quire-page__content .container .content ul.showcase.full-width-slider {
  margin-bottom: 0;
}
#cover .quire-page__content .container .content ul li.showcase-project {
  text-align: left;
}
#cover ul.showcase.full-width-slider .user,
#cover ul.showcase.full-width-slider .more-link,
#cover ul.showcase.full-width-slider .type-pub-date-divider,
#cover ul.showcase.full-width-slider .pub-date {
  display: none;
}
#cover ul.showcase.full-width-slider .publisher,
#cover ul.showcase.full-width-slider .type-pub-date,
#cover ul.showcase.full-width-slider .more-link-view-link {
  display: inline-block;
}
#cover ul.showcase.full-width-slider .publisher::after,
#cover ul.showcase.full-width-slider .type-pub-date::after {
  content: " | ";
}

/* CODE
============================================================================= */
code {
  color: inherit;
  background-color: inherit;
  padding: 0 .25em;
  font-family: 'Noto Sans Mono';
  font-weight: 500;
}
dt code {
  font-weight: 700;
}

/* TYPOGRAPHY
============================================================================= */
/* Better alignment on text inside tables */
.content table td:first-child,
.content table th:first-child {
  padding-left: 0;
}
.content table td:last-child,
.content table th:last-child {
  padding-right: 0;
}
/* More section spacing for clarity while scrolling/scanning */
.content h2:not(:first-child) {
  margin-top: 6rem;
}
.content .quire-page__header + h2 {
  margin-top: 1.1428em;
}
.content h3:not(:first-child) {
  margin-top: 4rem;
}
.backmatter {
  margin-top: 6rem;
}
/* Remove unneeded margin from definition lists */
.quire-page__content .content dl {
  margin-left: 0;
}
/* Add abstract lines to section landing page grid and style */
.quire-contents-list.grid ul li .card.no-image .card-content .title,
.quire-contents-list.grid ul li .card.no-image .card-content .abstract  {
  font-size: 1.5rem;
  line-height: 1.4;
}
.quire-contents-list.grid ul li .card.no-image .card-content .abstract {
  font-weight: 400;
}
/* Hide abstracts on individual pages */
.quire-page__content .quire-page__abstract {
  display: none;
}
/* More space at bottom of page */
.quire-page__content .container .content {
  padding-bottom: 8rem;
}

/* GRID LAYOUT -- JOIN US PAGE
============================================================================= */
.image-list {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto 1fr auto;
  column-gap: 1.5rem;
  margin-top: 4rem;
}
.image-list h2,
.image-list p,
.image-list ul,
.image-list div {
  grid-column-start: 2;
}
.image-list p:last-of-type {
  grid-column-start: 1;
  grid-row: 1 / span 3;
}
.quire-page__content .container .content .image-list .action-button {
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 500px) {
  .image-list {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
  }
  .image-list h2,
  .image-list p,
  .image-list ul,
  .image-list div {
    grid-column-start: 1;
  }
  .image-list p:last-of-type {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .image-list p:last-of-type img {
    width: 70%;
  }
}
