{{/*
  Baseof template. All other files inherit from this layout, so edit it with care.
  The "main" bock has been added below to make it easy to slot in content from
  different layouts into this template, just wrap your file in {{ define "main" }}
  / {{ end }} tags.
*/}}

{{- $js := "js/application.js" | relURL -}}
{{- $figureModal := .Site.Params.figureModal -}}

<!DOCTYPE html>
<html lang="{{ .Site.Data.publication.language }}">
  {{ partial "head.html" . }}
  <body>        
    {{ partial "icons.html" . }}
    {{- if eq .Site.Params.licenseIcons true -}}
      {{ partial "icons-cc.html" . }}
    {{- end -}}
    {{- if eq .Site.Params.pdf true -}}
      {{ partial "pdf-info.html" . }}
    {{- end -}} 
    <div class="quire no-js" id="container">
      <div class="quire__secondary remove-from-epub"
          id="site-menu"
          aria-expanded="false"
          role="contentinfo">
        {{ partial "menu.html" . }}
      </div>

      <div class="quire__primary" id="{{ with .Section }}{{ . | urlize }}-{{ end }}{{ .File.BaseFileName | lower }}">
        {{ partial "navbar.html" . }}

        {{ block "main" . }}

        {{ end }}
      </div>
      {{ partial "search.html" . }}
    </div>
    {{ partial "scripts.html" (dict "context" . "figureModal" $figureModal) }}
  </body>
</html>