{{/*
Entry layout. This template is intended for use in catalogue-style pages where
a single image or object needs to be featured prominently.\
*/}}

{{ define "main" }}

{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

{{ $zoom :=  $.Site.Params.figureZoom  }}
{{ $pdf :=  $.Site.Params.pdf }}
{{ $site :=  $ }}

{{/* Entry content, including entry image and tombstone data */}}
<article class="{{ partial "page-class.html" . }} quire-entry" id="main" role="main">
<div {{ if or (eq $.Site.Params.entryPageSideBySideLayout true) (in .Page.Params.class "side-by-side") }} {{ if and (ne $.Site.Params.pdf true) (ne $.Site.Params.epub true) }} class="side-by-side" {{ end }} {{ end }} data="{{ $.Site.Params.figureZoom }}">  
  
  {{ if eq .Site.Params.epub true }}
  <header class="quire-entry__header">
    <div class="container">
        {{/* Title */}}
        <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
          {{ with .Params.label }}<span>{{ . }}{{ $.Site.Params.pageLabelDivider }}</span>{{ end }}
          {{ partial "page-title.html" . | markdownify }}
        </h1>
    </div>
  </header>
  {{ end }}

  {{/* Full-width entry image header */}}
<div class="quire-entry__image-wrap">
<div id="quire-entry__image" class="quire-entry__image">
  <div 
  class="leaflet-control-fullscreen leaflet-bar leaflet-control remove-from-epub"
  >
    <a
    id="toggleFullscreen" 
    class="leaflet-control-fullscreen-button leaflet-bar-part" 
    href="#" 
    title="View Fullscreen" 
    style="outline: none;">
    </a>
  </div>
  {{ if .Params.image }}
    {{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") .Params.image -}}
    <img src="{{ $imgPath | relURL }}" alt="" />
  {{ else if .Params.object }}
    {{ range .Params.object }}
      {{ if .id }}
        {{ range where $.Site.Data.objects.object_list "id" "eq" .id }}
        <div class="quire-entry__image__group-container">
          {{ if gt (len .figure) 1 -}}
          {{ if ne $.Site.Params.pdf true }}
        <button class="remove-from-epub quire-image-control quire-image-control--prev-image" id="prev-image" title="Previous image"></button>
        <button class="remove-from-epub quire-image-control quire-image-control--next-image" id="next-image" title="Next image"></button>
          {{ end }}
          {{ end -}}
        {{ range .figure }}
          {{ if .id }}
            {{ range where $.Site.Data.figures.figure_list "id" "eq" .id }}
              {{ template "figure" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  ) }}
            {{ end }}
          {{ else if .src }}
            {{ template "figure" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  ) }}
          {{ end }}
        {{ end }}
        </div>
        {{ end }}
      {{ else if .figure }}
      <div class="quire-entry__image__group-container">
      {{ range .figure }}
        {{ if .id }}
          {{ range where $.Site.Data.figures.figure_list "id" "eq" .id }}
            {{ template "figure" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  ) }}
          {{ end }}
        {{ else if .src }}
          {{ template "figure" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  ) }}
        {{ end }}
      {{ end }}
      </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
</div>

<div class="quire-entry__content">
  
  {{/* Entry header */}}
  {{ if ne .Site.Params.epub true }}
  <header class="quire-entry__header">
    <div class="container">
        {{/* Title */}}
        <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
          {{ with .Params.label }}<span>{{ . }}{{ $.Site.Params.pageLabelDivider }}</span>{{ end }}
          {{ partial "page-title.html" . | markdownify }}
        </h1>
        {{/* Contributors, if any */}}
        {{ partial "page-contributor.html" . }}
    </div>
  </header>
  {{ end }}

  {{ partial "page-tombstone.html" . }}

  {{ if .Params.abstract }}
  {{ partial "page-abstract.html" . }}
  {{ end }}

  {{/* Entry content */}}
  <section class="section quire-page__content" id="content">
    <div class="container">
      <div class="content">
        {{ .Content }}
        {{ partial "page-bibliography.html" . }}
      </div>
    </div>
  </section>

  <section class="section quire-page__content">
      <div class="container">
        {{ partial "footer-buttons.html" . }}
      </div>
  </section>



<!-- columns -->
</div>

</div>
</article>
{{ end }}

{{ define "figure" }}

{{- $imgPath := printf "%s/%s" .imageDir .figure.src -}}

<figure data-media-type="{{ .figure.media_type }}">

  {{ if or (eq .site.Site.Params.pdf true) (eq .site.Site.Params.epub true) }}

  <div class="quire-figure__media-fallback">
  {{ if isset .map "src" }}

  {{ if .map.src }}
  <div class="quire-figure__wrapper">
  <img src='{{ printf "%s/%s" (.site.Scratch.Get "imageDir") .map.src | relURL }}'/>
  </div>
  {{ end }}

  {{ else }}

  {{ if isset .map "media_type" }}
  <div class="placeholder">

      {{- if or (eq .map.media_type "youtube")  (eq .map.media_type "vimeo") }}

      {{ if eq .site.Site.Params.pdf true }}
      <i class="material-icons md-24">videocam</i>
      {{ else }}
      <img src='{{ .site.Scratch.Get "imageDir" | relURL }}/icons/baseline-videocam-24px.png'/>
      {{ end }}

      {{ end }}

      {{- if or (eq .map.media_type "soundcloud")  (eq .map.media_type "audio") }}

      {{ if eq .site.Site.Params.pdf true }}
      <i class="material-icons md-24 audio">headset</i>
      {{ else }}
      <img src='{{ .site.Scratch.Get "imageDir" | relURL }}/icons/baseline-headset-24px.png'/>
      {{ end }}

      {{ end }}

  </div>
  {{ end }}
  {{- end -}}

  {{ if isset .map "title" }}
  {{ if .map.title }}
    <h5 class="header">
        {{ .map.title | markdownify }}
    </h5>
  {{ end }}
  {{ end }}

      {{ if isset .map "media_type" }}

      <p class="caption">

      {{- if eq .map.media_type "youtube" }}
      <a href='https://youtu.be/{{ .map.media_id }}' alt="" title="" target="_blank" ><em>https://youtu.be/{{ .map.media_id }}</em></a>
      {{ end }}
      {{- if eq .map.media_type "vimeo" }}
      <a href='https://vimeo.com/{{ .map.media_id }}' alt="" title="" target="_blank" ><em>https://vimeo.com/{{ .map.media_id }}</em></a>
      {{ end }}
      {{- if eq .map.media_type "soundcloud" }}
      <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .map.media_id }}" alt="" title="" target="_blank" ><em>https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .map.media_id }}</em></a>
      {{ end }}

      </p>

      {{ end }}
  </div>
  {{ else }}

  {{ if eq .zoom true }}

  {{ if eq .figure.media_type "iiif" }}

  <div
    id="js-iiif-{{ now.UnixNano }}"
    class="quire-deepzoom-entry inset"
    aria-live="polite"
    role="application"
    aria-label="Zoomable image"
    data-catalogue-entry="true"
    {{ if .figure.iiif }} data-iiif="{{ .figure.iiif }}" {{ end }}
    {{ if .figure.zoom_max }} data-zoom-max="{{ .figure.zoom_max }}" {{ end }}
    {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
  >
  </div>

  {{ else if eq .figure.media_type "map" }}

  <div
    id="js-map-{{ now.UnixNano }}"
    class="quire-map-entry inset"
    aria-live="polite"
    aria-label="Zoomable map"
    data-catalogue-entry="true"
    {{ if .figure.lat }}  data-lat="{{ .figure.lat }}" {{ end }}
    {{ if .figure.long }} data-long="{{ .figure.long }}" {{ end }}
    {{ if .figure.geojson }} data-geojson="{{ .Site.BaseURL }}{{ .figure.geojson }}" {{ end }}
    {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
  >

  </div>

  {{ else if eq .figure.media_type "youtube" }}

    <iframe
      id='{{ .id }}'
      title='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
      alt='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
      {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
      data-catalogue-entry="true"
      aria-label="youtube video"
      class='quire-figure__media'
      src='https://www.youtube-nocookie.com/embed/{{ .figure.media_id }}?rel=0&amp;showinfo=0'
      frameborder='0'
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    >
    </iframe>


  {{ else if eq .figure.media_type "vimeo" }}

    <iframe
      id='{{ .id }}'
      title='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
      alt='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
      {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
      data-catalogue-entry="true"
      aria-label="vimeo video"
      class='quire-figure__media'
      src='https://player.vimeo.com/video/{{ .figure.media_id }}'
      frameborder='0'
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    >
    </iframe>


  {{ else }}

  <div
    id="js-deepzoom-{{ now.UnixNano }}"
    class="quire-deepzoom-entry inset"
    {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
    alt="{{ .figure.alt }}"
    aria-live="polite"
    role="application"
    aria-label="Zoomable image"
    data-catalogue-entry="true"
    src="{{ $imgPath | relURL }}"
  >
  </div>
  <img style="display: none" src="{{ $imgPath | relURL }}" alt="{{ .figure.alt }}" />

  {{ end }}

  {{ else }}

  {{ if eq .figure.media_type "youtube" }}

  <iframe
    id='{{ .id }}'
    title='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
    alt='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
    {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
    data-catalogue-entry="true"
    aria-label="youtube video"
    class='quire-figure__media'
    src='https://www.youtube-nocookie.com/embed/{{ .figure.media_id }}?rel=0&amp;showinfo=0'
    frameborder='0'
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  >
  </iframe>


{{ else if eq .figure.media_type "vimeo" }}

  <iframe
    id='{{ .id }}'
    title='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
    alt='{{ if .figure.title }}{{ .figure.title | markdownify }}{{ end }}'
    {{ if .figure.caption }} data-caption='{{ .figure.caption | markdownify | safeHTML }}' {{ end }}
    data-catalogue-entry="true"
    aria-label="vimeo video"
    class='quire-figure__media'
    src='https://player.vimeo.com/video/{{ .figure.media_id }}'
    frameborder='0'
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  >
  </iframe>

  {{ else }}

  <img src="{{ $imgPath | relURL }}" alt="{{ .figure.alt }}" />

  {{ end }}

  {{ end }}

  {{ end }}

{{- template "details" (dict "imgPath" $imgPath "figureData" .) -}}
</figure>

{{ end }}

{{- define "details" -}}
  {{ if or .figureData.figure.caption .figureData.figure.credit }}
      <div class="quire-image-control quire-image-info">
        <span class="quire-image-info__wrap">
          {{ with .figureData.figure.caption }}<span class="quire-image-info__caption">{{ . | markdownify }}</span>{{ end }}
          {{ with .figureData.figure.credit }}<span class="quire-image-info__credit">{{ .| markdownify }}</span>{{ end }}
        </span>
      </div>
  {{ end }}
  <div class="quire-image-counter-download-container wtf">
    {{ if eq .figureData.figure.download true }}
    <a href="{{ .imgPath | relURL }}" target="_blank" class="remove-from-epub quire-image-control quire-image-control--download" title="Download image" download>
      {{- partial "icon.html" (dict "type" "download" "description" "Download image") -}}
    </a>
    {{ end }}
  </div>
{{- end -}}
