{{/*

  THIS OVERRIDE VERSION REMOVES THE HTML MARKUP THAT APPEARS AROUND THE FOOTER
  BUTTONS EVEN IF THE BUTTONS ARE HIDDEN.

  Single page default template. Normal page content will appear in the
  .Content outlet below.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-page" id="main" role="main">
  {{ partial "page-header.html" . }}
  {{ if .Content }}
  <section class="section quire-page__content" id="content">
    <div class="container">
      <div class="content">
        {{ .Content }}
        {{ partial "page-bibliography.html" . }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ partial "footer-buttons.html" . }}
</article>
{{ end }}

