{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

<div class="quire-copyright">

{{/* If copyright info is defined, show information about it here */}}
  {{- $imgDir := $.Scratch.Get "imageDir" -}}
  {{ range .Site.Data.publication.publisher }}
    {{- if .logo -}}
    <img src="{{ $imgDir | relURL }}/{{ .logo }}" class="quire-copyright__icon__logo" alt="logo" />
    {{- end -}}
  {{ end }}

  {{- if .Site.Data.publication.copyright -}}
    <p>{{ .Site.Data.publication.copyright | markdownify }}</p>
  {{- end -}}

  {{/* If a license is defined, show information about it here */}}
  {{- if .Site.Data.publication.license.name -}}

  {{/* License icons (ex. CC icons) if any */}}
  {{- if eq .Site.Params.licenseIcons true -}}
  {{- $imgDir := $.Scratch.Get "imageDir" -}}
  {{- $license := .Site.Data.publication.license.abbreviation -}}

    {{- with .Site.Data.publication.license.url }}<a rel="license" class="quire-copyright__icon__link" href="{{ . | relURL }}" target="_blank">{{ end -}}

    {{- if .Site.Data.publication.license -}}
    <svg class="quire-copyright__icon">
      {{ if in $license "CC" }}
        <switch>
          <use xlink:href="#cc"></use>
        </switch>
        {{ if in $license "BY" }}
          <switch>
            <use xlink:href="#cc-by"></use>
            <foreignObject width="135" height="30">
                <img src="{{ $imgDir | relURL }}/icons/cc-by.png" alt="CC-BY" />
            </foreignObject>
          </switch>
          {{ if in $license "BY-NC" }}
            <switch>
              <use xlink:href="#cc-by-nc"></use>
              <foreignObject width="135" height="30">
                  <img src="{{ $imgDir | relURL }}/icons/cc-by-nc.png" alt="CC-BY-NC" />
              </foreignObject>
            </switch>
            {{ if in $license "BY-NC-SA"}}
              <switch>
                <use xlink:href="#cc-by-nc-sa"></use>
                <foreignObject width="135" height="30">
                    <img src="{{ $imgDir | relURL }}/icons/cc-by-nc-sa.png" alt="CC-BY-NC-SA" />
                </foreignObject>
              </switch>
            {{ else if in $license "BY-NC-ND"}}
              <switch>
                <use xlink:href="#cc-by-nc-nd"></use>
                <foreignObject width="135" height="30">
                    <img src="{{ $imgDir | relURL }}/icons/cc-by-nc-nd.png" alt="CC-BY-NC-ND" />
                </foreignObject>
              </switch>
            {{ end }}
          {{ else if in $license "BY-SA" }}
            <switch>
              <use xlink:href="#cc-by-sa"></use>
              <foreignObject width="135" height="30">
                  <img src="{{ $imgDir | relURL }}/icons/cc-by-sa.png" alt="CC-BY-SA" />
              </foreignObject>
            </switch>
          {{ else if in $license "BY-ND" }}
            <switch>
              <use xlink:href="#cc-by-nd"></use>
              <foreignObject width="135" height="30">
                  <img src="{{ $imgDir | relURL }}/icons/cc-by-nd.png" alt="CC-BY-ND" />
              </foreignObject>
            </switch>
          {{ end }}
        {{ else if in $license "0" }}
          <switch>
            <use xlink:href="#cc-zero"></use>
            <foreignObject width="135" height="30">
                <img src="{{ $imgDir | relURL }}/icons/cc-zero.png" alt="CC-ZERO" />
            </foreignObject>
          </switch>
        {{ end }}
      {{ end }}
    </svg>

    {{ end }}
    {{- with .Site.Data.publication.license.url }}</a>{{ end -}}

  {{- end -}}

  {{/* License details */}}

    {{ if .Site.Data.publication.license.online_text }}
      <div class="is-screen-only">
      {{ .Site.Data.publication.license.online_text | markdownify }}
      </div>
    {{ else }}
      <div class="is-screen-only">
      {{ template "copyright-generator" . }}
      </div>
    {{ end }}

    {{ if .Site.Data.publication.license.pdf_ebook_text }}
      <div class="is-print-only">
      {{ .Site.Data.publication.license.pdf_ebook_text | markdownify }}
      </div>
    {{ else }}
      <div class="is-print-only">
      {{ template "copyright-generator" . }}
      </div>
    {{ end }}

{{- end -}}

</div>


{{ define "copyright-generator" }}

{{- if eq .Site.Data.publication.license.scope "some-exceptions" -}}
  Except where otherwise noted, this work is licensed under a
  {{ with .Site.Data.publication.license.url }}<a rel="license" href="{{ . | relURL }}" target="_blank">{{ end }}
  {{ .Site.Data.publication.license.name }}
  {{ with .Site.Data.publication.license.url }}</a>{{ end }}.

{{- else if eq .Site.Data.publication.license.scope "text-only" -}}
  The text of this work is licensed under a
  {{ with .Site.Data.publication.license.url }}<a rel="license" href="{{ . | relURL }}" target="_blank">{{ end }}
  {{ .Site.Data.publication.license.name }}
  {{ with .Site.Data.publication.license.url }}</a>{{ end }}
  . Unless otherwise noted, all illustrations are excluded from the
  {{ if .Site.Data.publication.license.abbreviation }}
  {{ .Site.Data.publication.license.abbreviation }}
  {{ else }}
  {{ .Site.Data.publication.license.name }}
  {{ end }} license.
{{- else -}}
  This work is licensed under a
  {{ with .Site.Data.publication.license.url }}<a rel="license" href="{{ . | relURL }}" target="_blank">{{ end }}
  {{ .Site.Data.publication.license.name }}
  {{ with .Site.Data.publication.license.url }}</a>{{ end }}
{{- end -}}
<span class="is-print-only">
  To view a copy of this license{{ with .Site.Data.publication.license.url }},
  visit {{ . }} or{{ end }}
  send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042.
</span>

{{ end }}
