// =============================================================================
// Quire-bibliography.scss
// -----------------------------------------------------------------------------

// .quire-page__content__references
// -----------------------------------------------------------------------------
.quire-page__content__references {
  dt {
    font-weight: 600;
  }
  dd {
    margin-left: 0;
    margin-bottom: 1rem;
    @media print {
      margin-bottom: 6pt;
    }
  }
}