// =============================================================================
// Quire-buttons.scss
// -----------------------------------------------------------------------------
//
// Reusuable code for the prev/next buttons at the bottom of each page.

// .quire-contents-buttons
// -----------------------------------------------------------------------------
.quire-contents-buttons {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 3em;
  padding-top: 2em;

  li.quire-nav-button {
    display: inline-block;
    width: 9.25em;
    height: 2.9em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    font-size: $quire-base-font-size;
    border: 1px solid button-color($content-background-color);
    color: button-color($content-background-color);

    a {
      display: inline-block;
      width: 8.75em;
      height: 3.25em;
      margin-top: 0;
      padding-top: .6em;
      font-family: $quire-navigation-font;
      font-size: $quire-base-font-size;
    }

    &.prev {
      margin-left: 0;
      margin-right: .55rem;
      a {
        color: button-color($secondary-background-color);
        margin-right: .5rem;
      }
      svg {
        fill: button-color($secondary-background-color);
        margin-right: .5rem;
      }
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: -.25rem;
      margin-bottom: .15rem;
    }

    .nav-title {
      vertical-align: super;
    }

    &.next {
      background-color: button-color($secondary-background-color);

      svg {
        fill: findColorInvert(button-color($secondary-background-color));
      }
      &:hover {
        background-color: link-hover-color($secondary-background-color) !important;
      }
      a {
        color: findColorInvert(button-color($secondary-background-color));
      }
    }

    &:hover {
      background-color: link-hover-color($secondary-background-color);
      border-color: link-hover-color($secondary-background-color);
      a {
        color: findColorInvert($accent-color);
      }
      svg {
        fill: findColorInvert($accent-color);
      }
    }
  }
}