// =============================================================================
// Quire-map.scss
// -----------------------------------------------------------------------------

// .quire-map
// -----------------------------------------------------------------------------

.no-popup-quire-map {
  height: $quire-map-height;
  margin-bottom: $gap;
}

.quire-map {
  @media print {
    height: 0;
  }
}
