// =============================================================================
// Quire-deepzoom.scss
// -----------------------------------------------------------------------------

// Variables
// -----------------------------------------------------------------------------
$dark: #363636 !default;
$gap: 16px !default;
$quire-deepzoom-height: 500px !default;

// .quire-deepzoom
// -----------------------------------------------------------------------------
.quire-deepzoom {
  height: $quire-deepzoom-height;
  margin-bottom: $gap;

  .leaflet-control-zoom {
    a {
      color: $dark;
    }
  }
}
