// =============================================================================
// Quire-citation.scss
// -----------------------------------------------------------------------------

// .quire-citation
// -----------------------------------------------------------------------------
.quire-citation {
  position: relative;
  text-indent: 0;
  .quire-page__content .content blockquote & { font-style: normal; }
  .quire-page__content .content blockquote & em { font-style: italic; }
  &__button {
    border: none;
    padding: 0;
    font-size: 1em;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    @if $theme == classic {
      border-bottom: 1px dotted background-color-text-classic($content-background-color);
    } @else {
      border-bottom: 1px dotted $accent-color;
    }
    @media print { border-bottom-width: 0; }
    &.material-icons {
      font-family: "Material Icons";
      font-weight: 600;
      margin-left: .125em;
      @if $theme == classic {
        @if (lightness($secondary-background-color) > 50) {
          color: darken($secondary-background-color, 35%);
        } @else {
          color: $white;
        }
      } @else {
        color: $accent-color;
      }
      border-bottom-width: 0;
    }
    &:hover {
      color: link-hover-color($content-background-color) !important;
      border-bottom: 1px solid link-hover-color($content-background-color);
    }
    &.material-icons:hover {
      border-bottom-width: 0;
    }
    &:focus {
      background-color: $quire-hover-color;
    }
    em, strong {
      pointer-events: none;
    }
  }
  .quire-citation__content {
    font-size: 0.875em;
    line-height: 1.5;
    background-color: $white;
    color: $off-black;
    padding: 1rem;
    position: absolute;
    width: 400px;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -200px;
    -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    animation: .25s ease-out 0s 1 fadeIn;
    @media screen and (max-width: $desktop) {
      width: auto;
      right: 0;
      margin-left: -100px;
    }
    @media screen and (min-width: $desktop) and (max-width: 978px) {
      width: 200px;
      right: 0;
      margin-left: -100px;
    }
  }
}
