// =============================================================================
// Quire-map.scss
// -----------------------------------------------------------------------------

// Variables
// -----------------------------------------------------------------------------
$gap: 16px !default;
$quire-map-height: 500px !default;


// .quire-map
// -----------------------------------------------------------------------------
.quire-map {
  height: $quire-map-height;
  margin-bottom: $gap;
  @media print {
    height: 0;
  }
}
