// =============================================================================
// Application.scss
// -----------------------------------------------------------------------------
@import "~bulma/sass/utilities/initial-variables";
@import "fonts";
@import "colors";
@import "variables";

// Bulma Overrides
// -----------------------------------------------------------------------------
// This Quire theme is built on the Bulma CSS framework (https://bulma.io/), the
// following variables are standard in Bulma, but are also used in, and
// in some cases modified for, Quire as well.
$gap: 16px;
$tablet: 500px;
$desktop: 700px;
$fullhd: 1344px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$box-shadow: 0 2px 3px rgba($off-black, 0.1), 0 0 0;

@import "bulma-components";
@import "utilities";
@import "layout";
@import "components/all";
@import "print";
