{{/*

  The q-contributor shortcode can be used to create a page of contributor
  biographies, a section of bios for a single page, a list of contributors,
  or a byline for a particular page.

  This shortcode requires both a "range" and a "type" value. And they must
  be one of the following:

  range   "page, essays, all, primary, secondary, project-team"
  type    "initials, name, name-plus, bio"

  "initials"    Looks for the capital letters in a contributor first and last
                name and concatenates them together. Jane Pauley, becomes J.P.
                Ralph Waldo Emerson becomes R.W.E.
  "name"        Just the first and last name.
  "name-plus"   The first and last name, with, when available, their title
                and affiliation on a line below.
  "bio"         Name, with pic, url, and bio.

  Following the standard error message checks, in the first part of the
  template below, there are two primary sequences. The first is for ranges
  of contributors that are across one or more pages (range "all", "essays",
  and "page"), and the other is for ranges of contributors in publication.yml
  (range "primary" and "secondary"). Both use the contirbutor-info.html partial
  to create a sorted list of contributor names and information: a
  "contributorlist" map.

  The second half of the template takes the "contributorlist" map and ranges
  across it building the HTML as called for in the type valye ("initials",
  "name", "name_plus", or "bio").

  NOTES:

  This shortcode can be used multiple times on a page, BUT ONLY if the same
  range is referenced.

  Users can use a file_as value to control sort order. Otherwise lists are
  sorted alphabetically by last_name. If you wanted, for example, a list of
  essay contributors ordered in the way they are ordered in the page yaml, you
  could assign a numeric file_as value to each. 1, 2, 3 etc. Note though that
  this file_as override will cary over to other uses of the shortcode. For
  example, a complete list of contributors at the end of a volume of collected
  papers.

  If a contribuor is listed in many papers, the informtion in last listing
  will override all the others.

  Contributors with the same exact name will override eachother. But using
  a file_as value would fix this, and that value wouldn't show up in the
  interface. For example if there are two Jane Smiths, assigning a file_as
  value of "Smith, Jane 1" to one and "Smith, Jane 2" will sort them in that
  order, but there names would still be listed as Jane Smith.

*/}}

{{/* Error messages */}}
{{/* ---------------------------------------------------------------------- */}}
{{ $errorRange := dict "shortcode" "q-contributor" "message" "This shortcode must include a value for `range`, and the supplied value for `range` must be “all”, “essays”, “page”, “primary”, “secondary”, or “project-team”." "example" "{{< q-contributors range=&#34;all&#34; type=&#34;bio&#34; >}}" }}

{{ $errorType := dict "shortcode" "q-contributor" "message" "This shortcode must include a value for `type`, and the supplied value for `type` must be  “initials”, “name”, “name-plus”, or “bio”." "example" "{{< q-contributors range=&#34;all&#34; type=&#34;bio&#34; >}}" }}

{{ $errorNoContributorsSet := dict "shortcode" "q-contributor" "message" "There are currently no contributors listed in the project’s `publication.yml` file." "example" "" }}

{{/* Image directory */}}
{{/* ---------------------------------------------------------------------- */}}
{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

{{/* Clear previous usage */}}
{{/* ---------------------------------------------------------------------- */}}
{{ $.Page.Scratch.Delete "contributorlist" }}

{{/* Contributor range variables */}}
{{/* ---------------------------------------------------------------------- */}}
{{ $listRange := $.Get "range" }}
{{ $validRangePage := "all essays page" }}
{{ $validRangePublication := "primary secondary project-team" }}

{{ $rangeAll := .Site.Pages }}
{{ $rangeEssays := (where .Site.Pages "Type" "essay") }}
{{ $rangePage := (where .Site.Pages "UniqueID" .Page.UniqueID) }}
{{ $rangePrimary := (where .Site.Data.publication.contributor "type" "primary") }}
{{ $rangeSecondary := (where .Site.Data.publication.contributor "type" "secondary") }}
{{ $rangeProjectTeam := (where .Site.Data.publication.contributor "type" "project-team") }}

{{- if eq $listRange "all" -}}
  {{- $.Scratch.Add "range" $rangeAll -}}
{{- else if eq $listRange "essays" -}}
  {{- $.Scratch.Add "range" $rangeEssays -}}
{{- else if eq $listRange "page" -}}
  {{- $.Scratch.Add "range" $rangePage -}}
{{- else if eq $listRange "primary" -}}
  {{- $.Scratch.Add "range" $rangePrimary -}}
{{- else if eq $listRange "secondary" -}}
  {{- $.Scratch.Add "range" $rangeSecondary -}}
{{- else if eq $listRange "project-team" -}}
  {{- $.Scratch.Add "range" $rangeProjectTeam -}}
{{- end -}}

{{/* Contributor info */}}
{{/* ---------------------------------------------------------------------- */}}
{{ if in $validRangePage $listRange }}
  {{- range $.Scratch.Get "range" -}}

    {{/* Page contributor’s contribution */}}
    {{/* ------------------------------------------------------------------ */}}
    {{- $pagenumber := .Params.number -}}
    {{- $pagetitle := .Params.title -}}
    {{- $pagesubtitle := .Params.subtitle -}}
    {{- $pagelink := .Permalink -}}

    {{- range .Params.contributor -}}

      {{/* Page contributors listed in page YAML with an ID */}}
      {{/* ---------------------------------------------------------------- */}}
      {{ if .id }}
        {{ range where $.Site.Data.publication.contributor "id" .id }}
          {{ partial "contributor-info.html" (dict "Page" $.Page "contributor" . "pageNumber" $pagenumber "pageTitle" $pagetitle "pageSubtitle" $pagesubtitle "pageLink" $pagelink) }}
        {{ end }}

      {{/* Page contributors listed in page YAML */}}
      {{/* ---------------------------------------------------------------- */}}
      {{ else }}
        {{ partial "contributor-info.html" (dict "Page" $.Page "contributor" . "pageAttributes" .Params "pageNumber" $pagenumber "pageTitle" $pagetitle "pageSubtitle" $pagesubtitle "pageLink" $pagelink) }}
      {{ end }}
    {{- end -}}
  {{- end -}}

{{- else if in $validRangePublication $listRange -}}

  {{- if eq .Site.Data.publication.contributor nil -}}
    {{- partial "error-message.html" $errorNoContributorsSet -}}
  {{- else -}}

    {{/* Publication contributors listed in publication.yml */}}
    {{/* ------------------------------------------------------------------ */}}
    {{- range $.Scratch.Get "range" -}}
      {{ partial "contributor-info.html" (dict "Page" $.Page "contributor" . ) }}
    {{- end -}}
  {{- end -}}
{{- else -}}

  {{- partial "error-message.html" $errorRange -}}
{{- end -}}

{{/* List variables */}}
{{/* ---------------------------------------------------------------------- */}}
{{ $listType := $.Get "type" }}
{{ $validTypes := "bio name name-plus initials" }}

{{/* List layout: Bio */}}
{{/* ---------------------------------------------------------------------- */}}
{{- if eq $listType "bio" -}}
<ul class="quire-contributors-list">
{{- range ($.Page.Scratch.GetSortedMapValues "contributorlist") -}}
{{- $nameid := plainify (replace (index . 0) " " "-") -}}
  <li class="quire-contributor media" id="{{ $nameid }}">

    {{- if ne (index . 5) "n/a" -}}
    <div class="media-left">
      <img class="image quire-contributor__pic"
          src='{{ with index . 5 }}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | absURL }}{{ end }}'
          alt="Picture of {{ index . 0 }}"/>
    </div>
    {{- end -}}

    <div class="quire-contributor__details media-content">
      <div class="title is-5"><span class="quire-contributor__name">{{ (index . 0) }}</span></div>
      {{ if ne (index . 4) "n/a" }}
      <div class="subtitle is-6"><a href="{{ index . 4 }}" class="quire-contributor__url">{{ index . 4 }}</a></div>
      {{- end -}}

      <p class="quire-contributor__bio">
        {{ if ne (index . 3) "n/a" }}{{ markdownify (index . 3) }}{{ end }}
      </p>

      {{- if ne ($.Get "range") "page" -}}
      {{- if and (ne ($.Get "range") "primary") (ne ($.Get "range") "secondary") -}}
      <p>
        <a href="{{ index . 9 }}" class="quire-contributor__page-link">
          {{ if ne (index . 6) "n/a" }}{{ index . 6 }}. {{ end }}
          {{ markdownify (index . 7) }}
          {{ if ne (index . 8) "n/a" }}: {{ markdownify (index . 8) }}{{ end }}
        </a>
      </p>
      {{- end -}}
      {{- end -}}
    </div>
  </li>
{{- end -}}
</ul>

{{/* List layout: Name, Name-plus */}}
{{/* ---------------------------------------------------------------------- */}}
{{- else if or (eq $listType "name") (eq $listType "name-plus") -}}
<ul class="quire-contributors-list">
{{- range ($.Page.Scratch.GetSortedMapValues "contributorlist") -}}
{{- $nameid := plainify (replace (index . 0) " " "-") -}}
  <li class="quire-contributor" id="{{ $nameid }}">
    <p>
      <span class="quire-contributor__name">{{ index . 0 }}</span>
      {{- if eq ($.Get "type") "name-plus" -}}
      {{- if or (ne (index . 1) "n/a") (ne (index . 2) "n/a") }}, {{ end -}}

      {{- if ne (index . 1) "n/a" -}}
      <span class="quire-contributor__title">{{ index . 1 }}</span>
      {{- end -}}

      {{- if and (ne (index . 1) "n/a") (ne (index . 2) "n/a") }}, {{ end -}}
      {{- if ne (index . 2) "n/a" -}}
      <span class="quire-contributor__affiliation">{{ index . 2 }}</span>
      {{- end -}}
    </p>
    {{- end -}}
  </li>
{{- end -}}
</ul>

{{/* List layout: Initials */}}
{{/* ---------------------------------------------------------------------- */}}
{{- else if eq $listType "initials" -}}
<ul class="quire-contributors-list">
  {{- $len := len ($.Page.Scratch.GetSortedMapValues "contributorlist") -}}
  {{- if gt $len 0 -}}
  <li class="quire-contributor">
    {{- $len := len ($.Page.Scratch.GetSortedMapValues "contributorlist") -}}
    {{- range $index, $element := ($.Page.Scratch.GetSortedMapValues "contributorlist") -}}
      {{- $initials := findRE "[[:upper:]]" (index . 0) -}}
      {{- if eq $len 1 -}}
      <span class="quire-contributor__name">{{ range $initials }}{{ . }}.{{ end }}</span>
      {{- else if eq (add $index 1) $len -}}
      <span class="quire-contributor__name"> and {{ range $initials }}{{ . }}.{{ end }}</span>
      {{- else -}}
        {{- if eq $len 2 -}}
          <span class="quire-contributor__name">{{ range $initials }}{{ . }}.{{ end }} </span>
        {{- else -}}
          <span class="quire-contributor__name">{{ range $initials }}{{ . }}.{{ end }}, </span>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </li>
  {{- end -}}
</ul>
{{- else -}}

  {{- partial "error-message.html" $errorType -}}
{{- end -}}