{{/*

  This shortcode adds a glossary term reference to the text, and a
  hover pop-up with the full description of the term.


  The first positional parameter is the glossary term that should match one
  in `glossary.yml`.

*/}}

{{- $errorMissingValue := dict "shortcode" "q-glossary" "message" "1 or 2 values must be supplied with this shortcode. The first is required and should match a short reference in the project’s `references.yml` file, the second is optional, and should be a page number or range of page numbers" "example" "{{< q-cite &#34;Faure 1909&#34; &#34;304&#34; >}}" -}}

{{- $errorMissingReference := dict "shortcode" "q-glossary" "message" "The short reference supplied doesn’t match one in the project’s `references.yml` file" "example" "{{< q-cite &#34;Faure 1909&#34; >}}<br /><br />short: &#34;Faure 1909&#34;" -}}

{{- if and (ne (len .Params) 1) (ne (len .Params) 2) -}}

  {{- partial "error-message.html" $errorMissingValue -}}

{{- else -}}

  {{- $term := .Get 0 -}}

  {{- range $.Site.Data.glossary.entries -}}
      {{- if eq .term $term -}}
          {{- $.Scratch.Add "description" .description -}}
      {{- end -}}
  {{- end -}}

  {{- if eq ($.Scratch.Get "description") nil -}}

    {{- partial "error-message.html" $errorMissingReference -}}

  {{- else -}}

    {{- $description := $.Scratch.Get "description" -}}
    {{- $.Page.Scratch.SetInMap "term" "0" $term -}}
    {{- $.Page.Scratch.SetInMap "term" "1" $description -}}
    {{- $entry := ($.Page.Scratch.GetSortedMapValues "term") -}}
    {{- $termId := $term | urlize -}}
    {{- $.Page.Scratch.SetInMap "cited" $termId $entry -}}
    <a href="#{{ $term | urlize }}" class="quire-citation"><span class="visually-hidden">Citation: </span>{{- markdownify $term -}}{{- if eq (len .Params) 2 }}{{ $.Site.Params.citationPageLocationDivider }}{{ .Get 1 }}{{ end -}}<span class="quire-citation__content">{{- markdownify $description -}}</span></a>
  {{- end -}}

{{- end -}}
