{{/*
  This override version of the essay layout from the default theme.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-essay" id="main" role="main">
  {{ partial "page-header.html" . }}

  <section id="content" class="section quire-page__content">
    {{ if .Params.abstract }}
    {{ partial "page-abstract.html" . }}
    {{ end }}
    <div class="container">
      <div class="content">
        {{ .Content }}
        {{ partial "page-bibliography.html" . }}
        {{ if or (eq .Section "docs-v0") (eq .Section "docs-v1") }}
        <div class="action-button source">
          <p><a href="{{ .Site.Params.repository }}tree/{{ .Site.Params.defaultBranch }}/content/{{ .Path }}">Improve this page</a></p>
        </div>
        {{ end }}
      </div>
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</article>
{{ end }}
