{{/*
  Essay layout. This layout describes a single-page template that has been
  augmented with the ability to display a frontmatter-defined abstract (in
  markdown format) as well as bibliography references.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-essay" id="main" role="main">
  {{ partial "page-header.html" . }}

  {{ if .Params.abstract }}
  {{ partial "page-abstract.html" . }}
  {{ end }}

  {{ $headers := findRE "<h[2-3].*?>(.|\n])+?</h[2-3]>" .Content }}
  {{ if gt (len $headers) 1 }}
  <div class="container quire-page__page-navigation">
    <ul class="page-navigation__list">
    {{ range $headers }}
      {{ $text := . | replaceRE "<[/]*h[1-6].*?>" "" }}
      {{ $anchorId := $text | plainify | htmlUnescape | anchorize }}
      <li {{ if findRE "<h[2].*?>" . }}class="main-heading"{{ else }}class="sub-heading"{{ end }}><a href="#{{ $anchorId }}">{{ $text | safeHTML }}</a></li>
    {{ end }}
    </ul>
  </div>
  {{ end }}

  <section id="content" class="section quire-page__content">
    <div class="container">
      <div class="content">
        {{ .Content }}
        {{ partial "page-bibliography.html" . }}
      </div>
    </div>
  </section>

</article>
{{ end }}
