{{/*
  
  This partial creates a list of links based on H2 headings on the page.

*/}}
{{ $headers := findRE "<h[2].*?>(.|\n])+?</h[2]>" .Content }}
{{ if gt (len $headers) 1 }}
  <ul class="quire__heading-links">
  {{ range $headers }}
    {{ $text := . | replaceRE "<[/]*h[1-6].*?>" "" }}
    {{ $anchorId := $text | plainify | htmlUnescape | anchorize }}
    <li {{ if findRE "<h[2].*?>" . }}class="main-heading"{{ else }}class="sub-heading"{{ end }}><a href="#{{ $anchorId }}">{{ $text | safeHTML }}</a></li>
  {{ end }}
  </ul>
{{ end }}