// =============================================================================
// Quire-contents-list.scss
// -----------------------------------------------------------------------------
//
// Quire uses Bulma's Menu component for the list of links inside the TOC. This
// class exists to provide a small amount of additional styling for the main
// TOC page of the book. Print TOC styles can also be defined on this element.

// .quire-contents
// -----------------------------------------------------------------------------
.quire-contents {
  background-color: transparent;
  @media print {
    background-color: transparent;
  }
  .quire-page__content {
    .container {
      padding-right: 2.25em;
      padding-left: 2.25em;
      @media print {
        padding: 0;
      }
      .content {
        background: transparent;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// .quire-contents-list
// -----------------------------------------------------------------------------
.quire-contents-list {
  box-shadow: none;
  background-color: transparent;

  svg {
    height: calc(#{$navbar-height} * .65);
    width: calc(#{$navbar-height} * .65);
    max-height: 1em;
    max-width: 1em;
    vertical-align: baseline;
    padding-top: .15em;
  }

  .contents-menu .quire-menu__formats a {
    border-left: none;
    margin-left: 0;
  }

  ul.arrow .section-indent {
    padding-left: 20px;
    font-size: .75em;
    width: 100%;
    &.page-item {
      .title {
        font-size: $quire-base-font-size;
        a {
          font-size: $quire-base-font-size;
        }
      }
      .abstract-text {
        font-size: $quire-base-font-size * 0.875;
        @media print {
          font-size: $print-base-font-size;
        }
      }
    }
    a {
      margin-bottom: 1em;
      padding-right: 0;
      padding-bottom: 0;
      border-radius: 0;
      display: inline-block;
      border-bottom: 1px dotted $off-black;
      &:hover {
        border-bottom: 1px solid darken($accent-color, 15%);
      }
      .title {
        span {
          padding-left: .2em;
        }
      }
    }
  }

  .menu-list {
    font-size: $quire-base-font-size;
    .section-header {
      text-align: center;
      font-size: $quire-base-font-size !important;
      border-top: 1px solid background-color($content-background-color);
      padding-top: 3.3375em;
      margin-bottom: 0;
      a {
        font-size: 1.7em !important;
        padding-right: 0;
        span {
          font-size: 0.662em !important;
          line-height: 2.25em;
          padding-left: .2em;
        }
      }
    }

    .section-item {
      // margin-bottom: 0;
    }

    .section-item ul {
      margin-top: 1em;
      margin-bottom: 0;
      margin: 1em 0 0 .75em;
      border-left-width: 0;
      font-size: .75em;
      .page-item {
        margin-bottom: 2em;
        &:last-child {
          margin-bottom: 1.5em;
        }
      }
      @media print {
        .page-item {
          margin-bottom: .75em;
          &:last-child {
            margin-bottom: 1.25em;
          }
        }
      }
      a {
        border-bottom: 1px dotted background-color-text($secondary-background-color);
        @media print {
          border-width: 0;
        }
        width: fit-content;
        display: initial;
        padding: 0;
        padding-bottom: .1em;
        line-height: 1.75;
        .arrow {
          display: none;
        }
        &:hover {
          border-bottom: 1px solid link-hover-color($secondary-background-color);
        }
      }
    }

    .section-item.no-landing {
      .list-header {
        font-size: 1.375em;
        padding: .5em 0;
        font-family: $quire-headings-font;
        color: background-color-text($secondary-background-color);
        @media print {
          font-size: $print-base-font-size;
          color: $print-text-color;
        }
      }
    }

    a {
      color: background-color-text($secondary-background-color);
      position: relative;
      padding-left: 0;
      padding-right: 0;
      font-size: 1.375em;
      @media print {
        font-size: $print-base-font-size;
        color: $print-text-color;
      }
      -webkit-transition: all .25s ease;
      transition: all .25s ease;

      .arrow {
        position: absolute;
        fill: background-color-text($secondary-background-color);
        margin-top: .1em;
      }
      &:hover {
        background-color: inherit;
        color: link-hover-color($secondary-background-color);
        .arrow {
          margin-left: .75em;
          -webkit-transition: all .25s ease;
          transition: all .25s ease;
          fill: link-hover-color($secondary-background-color);
          svg {
            fill: link-hover-color($secondary-background-color) !important;
          }
        }
        * {
           color: link-hover-color($secondary-background-color);
         }
         figure.image {
           -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
           -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
           box-shadow: 0px 0px 6px 0px $black-semi-transparent;
         }
      }
    }
  }

  .contributor {
    font-style: italic;
  }

  &.list,
  &.brief {
    font-family: $quire-headings-font;
    @media print {
      font-family: $quire-primary-font;
    }
    li {
      margin-bottom: .5em;
    }
    li > ul {
      margin-top: .5em;
      margin-bottom: .5em;
      margin-right: 0;
    }
    .title {
      font-size: 1em;
      font-weight: inherit;
      line-height: inherit;
    }
    .section-item .title {
      margin-bottom: 0;
    }
    .quire-menu__formats {
      a {
        text-decoration: none;
      }
    }
  }

  &.abstract {
    .title {
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.35;
      margin-bottom: 0;
      font-family: $quire-headings-font;
    }
    .abstract-text {
      font-size: 0.875em;
      @media print {
        font-size: $print-base-font-size;
      }
      line-height: 1.5em;
      margin-bottom: 1rem;
      line-height: 1.4;
      color: background-color-text($secondary-background-color);
      @media print {
        color: $print-text-color;
      }
      p {
        margin-bottom: .5em;
      }
      @if $quire-page-paragraph-style == "indent" {
        p { margin-bottom: 0; }
        p + p { text-indent: 2em; }
      }
    }
    .section-item ul {
      .title {
        margin-bottom: 1em;
      }
      .abstract-text {
        font-size: .875rem;
        @media print {
          font-size: $print-base-font-size;
        }
      }
    }
    .quire-menu__formats {
      a {
        font-size: 1em;
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: $desktop) {

  }

  &.grid {
    font-size: .75em;
    font-family: $quire-headings-font;
    @media screen and (min-width: $tablet) {
      margin: 0;
    }



    .title {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: $quire-headings-font;
      @if $theme == classic {
        @if (lightness($secondary-background-color) > 50) {
          color: $off-black;
        } @else {
          color: $white;
        }
      } @else {
        color: $accent-color;
      }
      @media print {
        color: $print-text-color;
      }
    }

    .slug-page .title {
      color: inherit;
    }


    li > a {
      padding: 1em 0;
    }

    .section-list {
      font-size: .75em;
      .no-image {
        .title.space {
          span {
            padding-left: .2em;
          }
        }
      }
      .title {
        font-size: inherit;
        font-weight: 400 !important;
      }
    }

    svg {
      padding-top: 0;
      margin-bottom: .065em;
    }

    .menu-list {
      
      a {
        .arrow {
          @if $theme == classic {
            fill: background-color-text-classic($content-background-color) !important;
          } @else {
            fill: $accent-color;
          }
        }
        .card.no-image {
          .arrow {
            margin-top: 0;
          }
        }
      }
      .section-item ul a .arrow {
        display: inline-block;
        margin-top: 0;
        @media print {
          display: none;
        }
      }
      ul.arrow {
        a {
          @if $theme == classic {
            .arrow {
              fill: background-color-text-classic($content-background-color) !important;
            }
          }
          .arrow {
            fill: $accent-color;
          }
        }

        .section-item {
          border-top: 1px solid background-color($content-background-color);
          font-weight: 700;
          padding-bottom: 0;
          margin: 0;
          text-align: center;
          a {
            padding: 0;
            .card {
              margin: 0 .5em;
              .card-content {
                padding: 0 1.5em;
                .title {
                  font-weight: 700;
                  line-height: 2em;
                  padding-top: 1.75em;
                }
              }
            }
          }
        }
        .section-item.no-landing {
          font-size: 1.7em;
          .title {
            font-weight: 400 !important;
          }
        }
      }
    }

    .quire-menu__formats {
      display: block;
      ul {
        display: block;
      }
      a {
        font-size: 1.325em;
        text-decoration: none;
      }
    }

    h6 {
      font-size: .875em;
    }

    ul li {
      float: left;
      width: 100%;
      font-size: $quire-base-font-size;

      @media screen and (min-width: $desktop) {
        width: 50%;
        &:nth-child(2n) + li {
          clear: left;
        }
      }

      @media screen and (min-width: $widescreen) {
        width: 33%;
        &:nth-child(2n) + li {
          clear: none;
        }
        &:nth-child(3n) + li {
          clear: left;
        }
      }

      .card {
        min-height: 300px;
        @media print {
          min-height: initial;
        }
        display: block;
        border-radius: 2px;
        margin: 1em 0.5em;
        box-shadow: none;
        background-color: $content-background-color;

        a {
          padding: 0;
          border-bottom: none;

          &:hover {
            color: link-hover-color($secondary-background-color);
            svg {
              fill: link-hover-color($secondary-background-color);
            }
            border-bottom: none;
          }

          svg {
            @if $theme == classic {
              fill: $off-black;
            } @else {
              fill: $accent-color;
            }
            vertical-align: text-bottom;
          }
        }

        .card-image {
          -webkit-transition: -webkit-box-shadow .35s;
          transition: box-shadow .35s;
          padding: 1.5em 1.5em 0em 1.5em;
          @media print {
            padding: 0;
          }

          .image {
            -webkit-transition: -webkit-box-shadow .35s;
            transition: box-shadow .35s;
            &:hover {
              -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
              -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
              box-shadow: 0px 0px 6px 0px $black-semi-transparent;
            }
          }
        }
      }

      .card.image {
        font-size: $quire-base-font-size;
        .card-content {
          font-size: 1.125em;
          padding: 1.5em;
        }
      }
      .card.no-image {
        font-size: $quire-base-font-size;
        .card-content {
          font-size: 2.3em;
          @media print {
            font-size: 2.25rem;
            padding-top: 0;
          }
          .title {
            font-size: inherit;
          }
        }
        @media print {
          margin-top: 0;
        }
      }

      a {
        font-size: $quire-base-font-size;
      }

      .card-content {
        padding: .7335em;
        font-size: 2.3em;
        line-height: 1.22em;
        font-weight: 700;

        span {
          font-size: inherit !important;
        }

        .arrow {
          font-size: 1em;
          vertical-align: text-top;
          margin-top: 0;
        }

        &:hover {
          color: link-hover-color($secondary-background-color);
          .title {
            color: link-hover-color($secondary-background-color);
          }
        }


        .artist {
          text-transform: uppercase;
        }
        .title {
          svg {
            vertical-align: sub;
          }
        }
        p {
          padding-top: 0.5rem;
        }
      }
    }

    ul li.section-item {
      border-top: 1px solid;
      border-bottom: 1px solid;
      @if (lightness($secondary-background-color) > 50) {
        border-color: darken($secondary-background-color, 15%);
      } @else {
        border-color: lighten($secondary-background-color, 15%);
      }
      
      @media print {
        border-width: 0;
      }


      + .section-item {
        border-top-width: 0;
      }
      
      &.no-landing {
        .list-header {
          font-size: 1.7em;
          margin-bottom: .3em;
          font-weight: 400;
          text-align: center;
          color: background-color-text($secondary-background-color);
          @media print {
            color: $print-text-color;
            padding-top: 0;
          }
        }
      }

      & > a > .card {
        box-shadow: none;
        background-color: inherit;
        min-height: 0;
        margin-bottom: 0;
        color: background-color-text($secondary-background-color);
        @media print {
          color: $print-text-color;
        }
        .card-content {
          padding-bottom: 0;
        }
        .title {
          font-weight: 400 !important;
          text-align: center;
          font-size: .7em !important;
          @media print {
            font-size: inherit !important;
          }
          .arrow {
            fill: background-color-text($secondary-background-color);
          }
        }
      }
      &.no-landing-page {
        & > a > .card {
          min-height: 300px;
        }
      }
      ul {
        padding-left: 0;
        margin: 0;
        border-left-width: 0px;
      }
      .list-header {
        margin-top: 1.5em;
        margin-left: 1em;
        @media print {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      @supports (display: grid) {
        ul {
          display: grid;

          grid-template-columns: repeat(2, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/3;
          }
        }
      }
    }

    @media screen and (min-width: $widescreen) {
      @supports (display: grid) {
        ul {
          display: grid;

          grid-template-columns: repeat(3, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/4;
          }
        }
      }
    }

    @media screen and (min-width: $fullhd) {
      @supports (display: grid) {
        ul {
          display: grid;

          grid-template-columns: repeat(4, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/5;
          }
        }
      }
    }

  }

  @media print {
    .quire-contents-list {
      column-span: all;
      font-size: 11pt;
    }
  }
}
