// =============================================================================
// Quire-menu.scss
// -----------------------------------------------------------------------------
//
// Site-wide sidebar menu component. Most of the styles for this come from the
// Bulma .menu class and subclasses or else are applied in the layout.scss file
// for this component's immediate container, .quire__secondary. However, some
// elements of the menu require other specific style rules and those should live
// here.

// scss-lint:disable EmptyRule
// scss-lint:disable SingleLinePerSelector

// Override for Bulma menu element inside of .content
// -----------------------------------------------------------------------------
.content .menu-list {
  list-style-type: none;
  margin-left: 0;
}

// .quire-menu
// -----------------------------------------------------------------------------
.quire-menu {
  font-family: $quire-primary-font;
  line-height: 1.25;

  &__header {
    margin: .25em 0 1em;

    a {
      padding-left: 0.75em;
      &:hover {
        text-decoration: none !important;
      }
    }

    &__title,
    &__title-link {
      display: block;
    }

    &__title {
      font-size: 1.375em;
      font-weight: 700;
      line-height: 1.2em;
      color: $white;
      font-family: $quire-headings-font;
      @if $theme == classic {
        letter-spacing: 0;
      }
    }
    &__contributors {
      margin: .25em 0 1.5em;
      font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 { color: $quire-menu-text-color; }

  }
  
  // Temporary until the headings/semantics of the menu can be reworked. Style matches backmatter h2 
  h6 {
    font-family: $quire-headings-font;
    @if $theme == classic {
      letter-spacing: .5px;
    } @else {
      letter-spacing: .25px;
    }
    color: background-color-text-classic($content-background-color);
    font-size: .875rem;
    line-height: 1.28;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid background-color-text-classic($content-background-color);
  }

  &__formats {
    margin-top: 2rem;
    h6 {
      @if (lightness($quire-menu-text-color) > 50) {
        color: darken($quire-menu-text-color, 40%);
        border-color: darken($quire-menu-text-color, 40%);

        color: lighten($quire-menu-color, 40%);
        border-color: lighten($quire-menu-color, 40%);

      } @else {
        color: $off-black;
        border-color: $off-black;
      }
    }
    .menu-list {
      margin-top: .75em;
    }
  }

  &__header,
  &__list,
  &__formats {
    a {
      margin: 0 -.75rem;
      border-radius: 0;
      &:hover {
        background-color: $quire-menu-color;
        text-decoration: underline;
        border-left-width: 0;
      }
    }
  }

  &__footer {
    margin: 2rem 0;
    font-size: .75rem;
    p {
      margin-bottom: 1em;
    }
    .menu-list {
      display: flex;
      margin-top: .5em;
      li + li {
        margin-top: 0;
      }
      a {
        padding: .5em;
        &:hover {
          background-color: inherit;
        }
      }
    }
    .quire-copyright {
      padding: 0 .5em;
    }
  }

  .page-item, .section-item {
    a {
      font-family: $quire-primary-font;
      &.active {
        margin-left: -1.25em;
        border-left: 4px solid $accent-color;
        color: $accent-color !important;
        text-decoration: none;
        padding-left: calc(.75em + 4px);
        &:hover {
          border-left-width: 4px;
        }
        * {
          color: $accent-color !important;
        }
      }
    }
    .page-item {
      a.active {
        margin-left: calc(-2.75em + -4px);
        padding-left: 2.65em;
      }
    }
    &.no-landing {
      .list-header {
        display: block;
        padding: .5em .75em .5em 0;
      }
    }
  }

  .section-item ul {
    font-size: .875em;
    line-height: 1.5;
  }

  .main {
    padding-top: 1em;
  }

  .menu-list {
    line-height: 1.5em;
    li > ul {
      margin-top: .25em;
      margin-bottom: .25em;
    }
    li ul {
      border-left-width: 0;
    }
    .section-list {
      .section-list {
        .page-item:not(:first-child) {
          a {
            padding-left: 2em;
            line-height: .5em;
            margin-top: .5em;
            margin-bottom: .75em;
            font-size: .875em;
          }
        }
      }
    }
  }

  a.quire-copyright__icon__link:hover {
    background-color: transparent;
  }
}

