// =============================================================================
// Quire-navbar.scss
// -----------------------------------------------------------------------------
//
// Top-level container / banner for the site navigation. Full-width, optional
// background color. Fixed positioning causes some issues so not using this for
// now. Has the following components:
//
// - .quire-navbar-skip-link: Accessibility element, allows users of assistive
//     technologies to quickly skip to #main content.
// - .quire-navbar-controls: the various UI elements including search and menu
// - .quire-navbar-page-controls: central part of the controls which includes
//     page title, site title, and next/prev controls.
// - .quire-navbar-button: overrides of native button styles, but the <button>
//     element is used for accessibility reasons.
//
// Where possible this component will borrow from Bulma's .navbar component, but
// the needs are different and this will not support all of Bulma's
// functionality out of the box.
//

// scss-lint:disable NameFormat

// .quire-navbar
// -----------------------------------------------------------------------------
.quire-navbar {
  font-family: $quire-navigation-font;
  font-weight: 400;
  font-size: .875em;
  position: sticky;
  z-index: 1;

  svg {
    height: calc(#{$navbar-height} * .65);
    width: calc(#{$navbar-height} * .65);
    max-height: 1rem;
    max-width: 1rem;
    vertical-align: sub;
  }

  @if $navbar-height <= 2rem {
    font-size: .85rem;
  }
  @if $navbar-height <= 1rem {
    font-size: .65rem;
  }

  @include foreground-color($quire-navbar-color,$quire-navbar-text-color);
  background-color: $quire-navbar-color;
  min-height: $navbar-height;
  top: 0 !important;
  width: 100%;

  a {
    display: block;
    padding: 0 0.5em;
  }

  @media print {
    display: none;
  }
}

// .quire-progress-bar
// -----------------------------------------------------------------------------
.quire-progress-bar {
  height: $quire-progress-bar-height;  
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  font-family: $quire-navigation-font;
  font-size: 0.75rem;
  background-color: background-color($secondary-background-color);
  border-bottom: none;
  span {
    color: $white;
    display: none;
  }
  div {
    height: $quire-progress-bar-height;
    width: 100%;
    background-color: $accent-color;
    text-align: right;
    padding-right: .5em;
    position: relative;
    animation: .5s ease-out 0s 1 slideFromLeft;
  }
}

// .quire-navbar-controls
// -----------------------------------------------------------------------------
.quire-navbar-controls {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  line-height: $navbar-height;
  height: $navbar-height;

  &__left {
    align-self: flex-start;
    flex: 0 1 $navbar-height;
  }

  &__center { flex: 1 1 auto; }

  &__right {
    flex: 0 1 $navbar-height;
    text-align: right;
  }

  &__left, &__right, .quire-navbar-page-controls__item {
    button {
      background-color: transparent;
    }
    a {
      button {
        &:hover {
          background-color: transparent;
        }
      }
    }
    a, button, .button {
      transition: all .25s ease;
      &:hover {
        color: findColorInvert($accent-color) !important;
        background-color: $accent-color;
        svg {
          fill: findColorInvert($accent-color);
        }
        * {
          color: findColorInvert($accent-color) !important;
        }
        @if $navbar == accent {
          color: $accent-color !important;
          background-color: findColorInvert($accent-color);
          svg {
            fill: $accent-color !important;
          }
          * {
            color: $accent-color !important;
          }
        }
      }
    }
    svg {
      & img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.quire-navbar-page-controls {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;

  &__item {
    padding: 0 1rem;
    max-height: $navbar-height;
    overflow: hidden;
    display: none;

    a, svg {
      transition: all .25s ease;
    }

    span.nav-label {
      display: inline-block;
      color: inherit;
    }

    .menu-button {
      width: 18px;
      display: inline-block;
    }

    &.quire-current-page {
      font-style: italic;
    }

    &.quire-previous-page {
      a {
        padding: 0 1.5em 0 0.5em;
      }
      svg {
        margin-right: 1em;
      }
    }

    &.quire-next-page {
      font-style: normal;
      a {
        padding: 0 0.5em 0 1.5em;
      }
      svg {
        margin-left: 0.25em;
        margin-right: 0.5em;
      }
    }
    @media screen and (max-width: $quire-menu-width) {
      a {
        padding: 0;
      }
    }

    @media screen and (max-width: $desktop) {
      &.quire-home-page {
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
      &.quire-next-page,
      &.quire-previous-page {
        display: block;
      }
      span.nav-label {
        display: none;
      }
    }

    @media screen and (min-width: 500px) {
      &.quire-home-page {
        display: block;
      }
    }

    @media screen and (min-width: $desktop) {
      &.quire-current-page {
        display: block;
      }
      &.quire-next-page,
      &.quire-previous-page {
        display: block;
      }
    }

    @media screen and (min-width: 900px) {
      &.quire-section-page {
        display: block;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .quire-navbar-button {
      display: none;
      &.home-button, &.play-button {
        display: inline-block;
      }
    }
  }
}

// .quire-navbar-button
// -----------------------------------------------------------------------------
.quire-navbar-button {
  // scss-lint:disable PropertySortOrder
  // scss-lint:disable SpaceAfterPropertyColon
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  // scss-lint:enable PropertySortOrder
  // scss-lint:enable SpaceAfterPropertyColon

  background-color: transparent;
  border: 0;
  height: $navbar-height;
  width: $navbar-height;
  padding: 0;

  svg {
    position: relative;
    top: 2px;
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.search-button,
  &.menu-button {
    svg {
      height: calc(#{$navbar-height} * .75);
      width: calc(#{$navbar-height} * .75);
      max-height: 1.25rem;
      max-width: 1.25rem;
      & img {
        max-height: 1.25rem;
      }
    }
  }

  &.arrow-button {
    text-align: center;
    svg {
      height: calc(#{$navbar-height} * .65);
      width: calc(#{$navbar-height} * .65);
      max-height: 1rem;
      max-width: 1rem;
      & img {
        max-height: 1rem;
      }
    }
    @media screen and (max-width: $tablet) {
      svg {
        top: 0;
      }
    }
    a {
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      &:hover {
        color: findColorInvert($accent-color) !important;
        background-color: $accent-color;
        svg {
          fill: findColorInvert($accent-color);
        }
      }
    }
  }
  &.play-button,
  &.home-button {
    text-align: center;
    svg {
      height: calc(#{$navbar-height} * .65);
      width: calc(#{$navbar-height} * .65);
      max-height: 2.5rem;
      max-width: 2.5rem;
      top: 0;
      vertical-align: middle;
      margin-left: 0.5rem;
      margin-top: 0.25rem;
      & img {
        max-height: 2.5rem;
      }
    }
  }
}

// .quire-navbar-skip-link
// -----------------------------------------------------------------------------
.quire-navbar-skip-link {
  &:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    transition: 0;
  }

  &:focus {
    background-color: darken($quire-navbar-color, 5%);
    clip: unset;
    height: $navbar-height;
    line-height: $navbar-height;
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1200;
  }
}

