// =============================================================================
// Quire-cover.scss
// -----------------------------------------------------------------------------
//
// Cover component (used in the layout for 'cover' page types)

// .quire-cover
// -----------------------------------------------------------------------------
.quire-cover {
  
  
  @media print {
    $splash-page-width: $print-width + $print-bleed + $print-bleed;
    $splash-page-height: $print-height + $print-bleed + $print-bleed;
    
    width: $splash-page-width;
    height: $splash-page-height;
    margin: -$print-bleed;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(95vh - #{$navbar-height} - #{$quire-progress-bar-height});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media print {
      height: 100%;
    }
  }

  &__hero {
    background-color: $quire-cover-color-1;
    background-image: linear-gradient(90deg, $quire-cover-color-1, $quire-cover-color-2);
    position: relative;
    min-height: calc(95vh - #{$navbar-height} - #{$quire-progress-bar-height}) !important;
    text-align: left;
    display: flex;
    align-items: center;

    @media print {
      width: 100%;
      height: 100%;
      
      .hero-body {
        height: auto;
        // title/author box
        .container {
          width: 75%;
          padding-left: .75in;
        }
      }
    }

    .title {
      font-family: $quire-headings-font;
      font-size: calc(2rem * #{$quire-cover-text-scale});
      font-weight: 700;
      line-height: 1.07;
      margin-bottom: calc(.5rem * #{$quire-cover-text-scale});
      color: $quire-cover-text-color;
      @media print {
        font-size: 40pt;
        margin-top: 0;
        margin-bottom: 1em;
        color: $quire-cover-text-color;
        page-break-before: right;
      }
    }

    .subtitle {
      display: block;
      margin-top: calc(.5rem * #{$quire-cover-text-scale});
      font-size: calc(1.5rem * #{$quire-cover-text-scale});
      font-weight: 400;
      line-height: 1.02;
      color: $quire-cover-text-color;
      @media print {
        font-size: 30pt;
        margin-top: .25em;
        color: $quire-cover-text-color;
      }
    }

    .reading-line {
      font-family: $quire-headings-font;
      font-style: italic;
      font-size: calc(1.25rem * #{$quire-cover-text-scale});
      line-height: 1.2;
      color: $quire-cover-text-color;
      @media print {
        font-size: 18pt;
        color: $quire-cover-text-color;
      }
    }

    .contributor {
      font-family: $quire-headings-font;
      font-size: calc(1em * #{$quire-cover-text-scale});
      margin-top: calc(.5rem * #{$quire-cover-text-scale});
      color: $quire-cover-text-color;
      @media print {
        font-size: 18pt;
        color: $quire-cover-text-color;
      }
    }
  }
  &__more {
    @media print {
      display: none;
    }
    & .hero-more {
      display: block;
      position: relative;
      line-height: 50px;
      color: background-color-text($black);
      width: 50px;
      height: 50px;
      background: $black;
      border-radius: 25px;
      margin: -25px auto 25px auto;
      text-align: center;
      svg {
        height: 3.5rem;
        width: 3.5rem;
        margin-left: .25rem;
        margin-top: .25rem;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        fill: background-color-text($black);
        img {
          padding: 7px 0;
        }
        &:hover {
          margin-top: .3rem;
        }
      }
      &.next-page {
        transform: rotate(-90deg);
        margin-bottom: 0;
      }
    }
  }

  &__button {
    background-color: $accent-color;
    color: findColorInvert($accent-color);
    border-width: 0px;
    border-radius: 2px;
    font-family: $quire-navigation-font;
    font-size: 1rem !important;
    padding: 0 !important;
    width: 140px;
    height: 44px;
    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: .25rem;
      margin-bottom: .05rem;
      fill: findColorInvert($accent-color);
    }
    &:hover {
      background-color: darken($accent-color, 15%);
      color: $white;
    }
  }

  .quire-page__content {
    padding-bottom: 0;
    .container.is-fluid {
      .content {
        padding-top: 2em !important;
        color: background-color-text-classic($secondary-background-color);
        background-color: $secondary-background-color;
        p {
          line-height: 2em;
          font-family: $quire-primary-font;
        }
      }
      @media screen and (min-width: 1028px) {
        max-width: 900px;
        width: 900px;
        margin: 0 auto;
      }
      @media print {
        display: none;
      }
    }
  }

  .quire-contents-buttons {
    ul {
      li.quire-nav-button {
        line-height: 34px;
        a {
          padding-top: 0.325em;
          color: $content-background-color;
        }
        svg {
          fill: $content-background-color;
        }
      }
    }
    .nav-title {
      font-size: initial;
    }
  }

}




