// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Custom font declarations (if any) can be imported here

////
// IBM Plex Sans Condensed
// https://github.com/IBM/plex
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// IBM Plex Sans Condensed Regular
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.eot");
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.woff2") format("woff2"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.woff") format("woff"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// IBM Plex Sans Condensed Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.eot");
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.woff2") format("woff2"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.woff") format("woff"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// IBM Plex Sans Condensed Bold
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.eot");
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.woff2") format("woff2"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.woff") format("woff"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// IBM Plex Sans Condensed Bold Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.eot");
  src: url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.woff2") format("woff2"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.woff") format("woff"),
       url("../fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

////
// Noto Serif
// https://github.com/googlei18n/noto-fonts
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// Noto Serif Regular
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/noto-serif/notoserif-regular.eot");
  src: url("../fonts/noto-serif/notoserif-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-serif/notoserif-regular.woff2") format("woff2"),
       url("../fonts/noto-serif/notoserif-regular.woff") format("woff"),
       url("../fonts/noto-serif/notoserif-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Noto Serif Italic
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/noto-serif/notoserif-italic.eot");
  src: url("../fonts/noto-serif/notoserif-italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-serif/notoserif-italic.woff2") format("woff2"),
       url("../fonts/noto-serif/notoserif-italic.woff") format("woff"),
       url("../fonts/noto-serif/notoserif-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Noto Serif Bold
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/noto-serif/notoserif-bold.eot");
  src: url("../fonts/noto-serif/notoserif-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-serif/notoserif-bold.woff2") format("woff2"),
       url("../fonts/noto-serif/notoserif-bold.woff") format("woff"),
       url("../fonts/noto-serif/notoserif-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Noto Serif Bold Italic
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/noto-serif/notoserif-bolditalic.eot");
  src: url("../fonts/noto-serif/notoserif-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-serif/notoserif-bolditalic.woff2") format("woff2"),
       url("../fonts/noto-serif/notoserif-bolditalic.woff") format("woff"),
       url("../fonts/noto-serif/notoserif-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

////
// Noto Sans
// https://github.com/googlei18n/noto-fonts
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// Noto Sans Regular
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-regular.eot");
  src: url("../fonts/noto-sans/notosans-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-sans/notosans-regular.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-regular.woff") format("woff"),
       url("../fonts/noto-sans/notosans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Noto Sans Italic
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-italic.eot");
  src: url("../fonts/noto-sans/notosans-italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-sans/notosans-italic.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-italic.woff") format("woff"),
       url("../fonts/noto-sans/notosans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Noto Sans Bold
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-bold.eot");
  src: url("../fonts/noto-sans/notosans-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-sans/notosans-bold.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-bold.woff") format("woff"),
       url("../fonts/noto-sans/notosans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Noto Sans Bold Italic
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-bolditalic.eot");
  src: url("../fonts/noto-sans/notosans-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/noto-sans/notosans-bolditalic.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-bolditalic.woff") format("woff"),
       url("../fonts/noto-sans/notosans-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/**
* Load material icon font
*/

$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';