html body {
  margin: 0; }
  html body .leaflet-pane,
  html body .leaflet-map-pane,
  html body .leaflet-container,
  html body .lvml {
    display: none !important; }

#bibliography > ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  text-indent: 0; }

#bibliography > ul > li {
  padding: 0;
  margin: 0;
  text-indent: 0; }

#bibliography > ul > li > p > b {
  padding: 0;
  margin: 0;
  text-indent: 0; }

#bibliography > ul > li > p > span {
  margin-right: 1rem;
  display: block; }

#toc-title {
  display: none; }

code {
  white-space: pre-wrap; }

span.smallcaps {
  font-variant: small-caps; }

span.underline {
  text-decoration: underline; }

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

html body {
  margin: 0; }

body {
  margin: 5%;
  text-align: justify;
  font-size: small;
  font-family: Times, "Times New Roman", serif; }

code {
  font-family: monospace; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left; }

ol.toc {
  list-style-type: disc; }

ol.toc li {
  list-style-type: disc; }

a.footnote-ref {
  vertical-align: super; }

p {
  padding: 0;
  margin: 0;
  text-indent: 1em; }

blockquote {
  margin-left: 3em;
  margin-right: 3em; }

blockquote > p {
  text-indent: 0;
  margin-bottom: 1em; }

.visually-hidden {
  display: none; }

#catalogue > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-indent: 0; }

#catalogue > ul > li {
  padding: 0;
  margin: 0;
  text-indent: 0; }

