{{/*

  Community showcase

*/}}
{{ $imgDir := "" }}
{{ if isset .Site.Params "imagedir" }}
  {{ $imgDir = .Site.Params.imageDir }}
{{ end }}
<ul class="showcase">
{{ range sort .Site.Data.projects.project_list "pub_date" "desc" }}
{{ if ne .id "" }}
<li class="showcase-project">
{{ if .src }}
<figure>
  <a href="{{ .url }}" target="_blank">
    <img src="{{ printf "%s/%s" $imgDir .src | relURL }}" />
  </a>
</figure>
{{ end }}
<p><span class="publisher">{{ .publisher }}</span> | {{ .type }}</p>
<p><a href="{{ .url }}" target="_blank">{{ .title_info | markdownify }}</a></p>
<p>{{ dateFormat "2006" .pub_date }}
<span class="quire-citation expandable"><span class="quire-citation__button glossary-button" role="button" tabindex="0" aria-expanded="false">More <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></span><span hidden class="quire-citation__content">{{ with .note }}{{ markdownify . }}<br />{{ end }}{{ with .github_user }}<br />Quire user: <a href="https://github.com/{{ . }}/" target="_blank">@{{ . }}</a>{{ end }}{{ with .customization_scale }}<br />Customization level: {{ . }}{{ end }}</span></span>
</p>
</li>
{{ end }}
{{ end }}
</ul>
